@{
    Layout = "~/Views/Shared/_MaterialLayout.cshtml";
}

<div layout="column" flex>
    <md-toolbar>
        <div class="md-toolbar-tools qlogo" layout-gt-md="row" layout-lt-md="column" layout-align="center center">
            <md-button class="md-icon-button">
                <md-icon md-svg-icon="logo" class=""></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content flex layout-align="center start">
        <div layout="row" flex="100" flex-gt-sm="60">
            <div layout="column" class="fill">
                <div>
                    <md-card>
                        <md-card-content>
                            <div layout="column">
                                <md-list class="no-pointer">
                                    <md-list-item>
                                        <div class="md-list-item-text" layout="column" layout-align="center center">
                                            <ul class="justify-self-center">
                                                <li><b>@ViewBag.UserMessage</b></li>
                                                <li>Please contact support for assistance</li>
                                            </ul>
                                        </div>
                                    </md-list-item>
                                    <md-list-item ng-click="null" layout="column">
                                        <div flex layout-align="center center">
                                            <img src="~/img/garfield.png" class="garfield-img"/>
                                        </div>
                                    </md-list-item>
                                </md-list>
                                
                            </div>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </div>
    </md-content>
</div>


