nav{
    height: 75px;
    flex: 0 0 auto;
}

.navbar-brand{
    width: 180px;
}

#navbarContent{
    position: absolute;
    right: 2px;
    top:20px;
}

.q-user-icon{
    height: 20px;
}

.nav-item {
    .dropdown{
        cursor: pointer;
    }
}
.nav-item .active{
    border-bottom: 2px solid grey;
}

.admin-outlet{
    margin: 30px 50px 40px 50px;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.admin-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.dropdown-item.active, .dropdown-item:active{
    background-color: #9D0015;
}

@media (max-width: 1529px){
    .admin-outlet{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}



