nav{
    height: 75px;
    flex: 0 0 auto;
}



.navbar-brand{
    width: 180px;
}

#navbarContent{
    margin-top: 10px;
    position: absolute;
    right: 2px;
}

.q-user-icon{
    height: 20px;
}

.nav-item {
    .dropdown{
        cursor: pointer;
    }
}
.nav-item .active{
    border-bottom: 2px solid grey;
    height: 40px;
}

.admin-outlet{
    margin: 30px 50px 40px 50px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}
.admin-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.highcharts-credits{
    display: none !important;
}
.highcharts-background{
    background-color: gray !important;
}


.dropdown-item.active, .dropdown-item:active{
    background-color: #9D0015;
}

@media (max-width: 1217px){
    .admin-outlet{
        margin-left: 0px;
        margin-right: 0px; 
    }
}

