
<div  style="padding: 20px;">

 <form (ngSubmit)="save()" novalidate [formGroup]="jobForm">
        <div class="d-flex job-desc-group" style="justify-content: space-between">
                <div class="form-group" [class.has-danger]="(isEnteredTitleExists || jobForm.get('title').invalid) && jobForm.get('title').touched" style="flex: 0 1 20%">
                        <label class="form-control-label" for="title">Job title</label>
                        <input type="text" class="form-control" id="title" placeholder="Job title" formControlName="title" (blur)="validateJobTitle()">
                    <small *ngIf="isEnteredTitleExists && jobForm.get('title').touched " class="form-text muted-text">Job already exists</small>
                        <span *ngIf="jobForm.get('title').touched && jobForm.get('title').invalid">
                                <small *ngIf="jobForm.get('title').errors?.required" class="form-text muted-text">Job title is required</small>
                                <small *ngIf="jobForm.get('title').errors?.minlength" class="form-text muted-text">Job title should be more than 3 characters</small>
                        </span>
                </div>

                <div class="form-group" [class.has-danger]="jobForm.get('profile').invalid && jobForm.get('profile').touched" style="flex: 0 1 55%">
                        <label class="form-control-label" for="profile">Job profile</label>
                        <input type="text" class="form-control" id="profile" placeholder="Job profile" formControlName="profile">
                        <span *ngIf="jobForm.get('profile').touched && jobForm.get('title').invalid">
                                <small *ngIf="jobForm.get('profile').errors?.required" class="form-text muted-text">Job profile is required</small>
                                <small *ngIf="jobForm.get('profile').errors?.minlength" class="form-text muted-text">Job profile should be more than 3 characters</small>
                        </span>
                </div>

                <div class="form-group" [class.has-danger]="jobForm.get('department').invalid && jobForm.get('department').touched" style="flex: 0 1 15%">
                        <label class="form-control-label" for="department">Department</label>
                        <select class="form-control" id="department" formControlName="department">
                                <option [ngValue]="null">Select department..</option>
                                <option *ngFor="let dept of departments" [value]="dept.Id">{{dept.Name}}</option>
                        </select>
                        <small *ngIf="jobForm.get('department').touched && jobForm.get('department').errors?.required" class="form-text muted-text">Department is required</small>
                </div>
        </div>
   
         <div>
                 <p class="label-section-header"><b>Add Labels and difficulties</b></p>
         
                <div class="d-flex" style="justify-content: center">
                        <div style="flex: 1 1 100%;">
                                <div formArrayName="labelsAndDifficulties">
                                        <div *ngFor="let labelAndDifficulty of labelsAndDifficulties.controls; let i = index" [formGroupName]="i" style="margin-bottom: 20px">
                                                <div class="d-flex label-diff-group" style="justify-content: space-between">
                                                        <div class="form-group" style="flex: 0 1 20%;margin-right: 20px" [class.has-danger]="labelAndDifficulty.get('label').invalid && labelAndDifficulty.get('label').touched">
                                                                <label class="form-control-label" attr.for="{{ 'label' + i}}">Label</label>
                                                                <select class="form-control" id="{{'label' + i}}" formControlName="label">
                                                                        <option [ngValue]="null">Select label..</option>
                                                                        <option *ngFor="let label of labels" [value]="label.Id">{{label.Name}}</option>
                                                                </select>
                                                                <small *ngIf="labelAndDifficulty.get('label').touched && labelAndDifficulty.get('label').errors?.required" 
                                                                class="form-text muted-text">Label is required</small>
                                                        </div>
                                                        <div class="form-group" style="flex: 0 1 20%;margin-right: 20px" [class.has-danger]="labelAndDifficulty.get('difficulty').invalid && labelAndDifficulty.get('difficulty').touched">
                                                                <label class="form-control-label" attr.for="{{'difficulty' + i}}">Difficulty</label>
                                                                <select class="form-control" id="{{'difficulty' + i}}" formControlName="difficulty">
                                                                        <option [ngValue]="null">Select difficulty..</option>
                                                                        <option *ngFor="let difficulty of difficulties" [value]="difficulty.Id">{{difficulty.Name}}</option>
                                                                </select>
                                                                <small *ngIf="labelAndDifficulty.get('difficulty').touched && labelAndDifficulty.get('difficulty').errors?.required" 
                                                                class="form-text muted-text">Difficulty is required</small>
                                                        </div>
                                                        
                                                        <div class="form-group" style="flex: 0 1 20%;margin-right: 20px"
                                                         [class.has-danger]="(labelAndDifficulty.get('availableQuestions').invalid && labelAndDifficulty.get('availableQuestions').touched) || labelAndDifficulty.get('availableQuestions').errors?.count">
                                                                <label class="form-control-label" attr.for="{{'availableQuestions' + i}}">Available questions</label>
                                                                <select class="form-control" id="{{'availableQuestions' + i}}" formControlName="availableQuestions"  (change)="onAvailableChange(i)">
                                                                        <option [ngValue]="null">Select questions..</option>
                                                                        <option *ngFor="let questionNumber of availableQuestionsMap[i]; let index=index" [value]="questionNumber">{{questionNumber}}</option>
                                                                </select>
                                                                <small *ngIf="labelAndDifficulty.get('availableQuestions').touched && labelAndDifficulty.get('availableQuestions').errors?.required" 
                                                                class="form-text muted-text">Available questions is required</small>
                                                                <small *ngIf="labelAndDifficulty.get('availableQuestions').errors?.count" 
                                                                class="form-text muted-text">Cannot have labels with no questions</small>
                                                        </div>
                                                        
                                                        <div class="form-group" style="flex: 0 1 20%;margin-right: 20px" 
                                                        [class.has-danger]="(labelAndDifficulty.get('questionsToPass').invalid && labelAndDifficulty.get('questionsToPass').touched) || labelAndDifficulty.get('questionsToPass').errors?.count">
                                                                <label class="form-control-label" attr.for="{{'questionsToPass' + i}}">Answer correctly</label>
                                                                <select class="form-control" id="{{'questionsToPass' + i}}" formControlName="questionsToPass">
                                                                        <option [ngValue]="null">Select questions..</option>
                                                                        <option *ngFor="let questionNumber of questionsToPassMap[i]; let index=index" [value]="questionNumber">{{questionNumber}}</option>
                                                                </select>
                                                                <small *ngIf="labelAndDifficulty.get('questionsToPass').touched && labelAndDifficulty.get('questionsToPass').errors?.required" 
                                                                class="form-text muted-text">Questions to pass is required</small>
                                                                <small *ngIf="labelAndDifficulty.get('questionsToPass').errors?.count" 
                                                                class="form-text muted-text">Cannot have labels with no questions</small>
                                                        </div>
                                                        <div class="remove-group" style="flex: 0 1 5%; display: flex; flex: 0 1 10%; margin-top: 35px">
                                                                <div style="margin-left: auto">
                                                                <button class="btn small-icon-btn red" (click)="removeLabelAndDifficulty(i)"><i class="fa fa-minus"></i></button>
                                                                </div>
                                                        </div>
                                                </div>
                                                 
                                        </div>
                                        <small *ngIf="labelsAndDifficulties.errors?.duplicate" 
                                                        class="form-text muted-text text-danger">Cannot have duplicate labels and difficulties</small>
                                </div>
                        </div>
                </div>
        </div>
        
        <div class="d-flex" style=" justify-content: center">
                <div class="d-flex" style="flex: 1 1 100%; justify-content: space-between">
                        <button type="submit" class="btn" [disabled]="jobForm.invalid || isEnteredTitleExists" style="margin: auto">Create job</button>
                        <button type="button" class="btn small-icon-btn" (click)="addLabelAndDifficulty()"><i class="fa fa-plus"></i></button>
                </div>
        </div>
 </form>

 </div>

 
<div bsModal #progress="bs-modal" class="modal fade" tabindex="-1" role="dialog" [config]="{backdrop: 'static', ignoreBackdropClick: true, keyboard: false}">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
                <h5 class="modal-title" style="width: 100%; text-align: center">{{modalResponse}}</h5>
        </div>
      
      <div class="modal-footer" style="justify-content: center">
                <span class="fa fa-spinner fa-spin fa-3x"  *ngIf="isRequestProcessing"></span>
                
                <button type="button" class="close"   *ngIf="!isRequestProcessing" (click)="closeProgressModal()">
                       <span class="fa fa-times-circle-o fa-2x"></span>
                </button>
        </div>
    </div>
  </div>
</div>
 