 <div class="router-outlet-container">
        <span class="admin-outlet-heading">TEST FINISHED</span>
        <div class="admin-data-container">
            <div>
            
            <div class="d-flex flex-column">
               <h4 style="text-align: center"> Your test is being evaluated. Please wait.</h4>
            </div>
            <div class="d-flex" style="justify-content: center; margin-top: 40px">
                <a class="btn" href="/Account/Logout">Logout<i class="fa fa-sign-out" style="margin-left: 20px"></i></a>
            </div>
            </div>
    </div>
    </div>