
 <div class="test-information" *ngIf="test" [@visibility]='visibility'>
        <p class="admin-outlet-heading" style="margin-bottom: 0px"><span>Candidate Details</span><i class="fa fa-lg fa-chevron-left sidenav-close" (click)="toggleNavButton()" style="cursor: pointer"></i></p>
        <div class="admin-data-container" style="box-sizing: border-box; overflow: auto">
            <div class="question-time-container" style="font-size: 0.8em;border-right: 1px solid lightgray;max-height: 0px">
                <div style="overflow: auto;">
                    
                    <div class="candidate-information">
                        <p style="text-align: center"><b>Candidate information</b></p>
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td><b>Name</b></td>
                                    <td>{{test.Candidate.FirstName}} {{test.Candidate.LastName}}</td>
                                </tr>
                                <tr>
                                    <td><b>Email</b></td>
                                    <td>{{test.Candidate.Email}}</td>
                                </tr>
                                <tr>
                                    <td><b>Mobile</b></td>
                                    <td>{{test.Candidate.Mobile}}</td>
                                </tr>
                                <tr>
                                    <td><b>City</b></td>
                                    <td>{{test.Candidate.City}}</td>
                                </tr>
                                <tr>
                                    <td><b>State</b></td>
                                    <td>{{test.Candidate.State}}</td>
                                </tr>
                                <tr>
                                    <td><b>Country</b></td>
                                    <td>{{test.Candidate.Country}}</td>
                                </tr>
                            </tbody>
                        </table>

                        <p style="text-align: center"><b>Education & Experience</b></p>
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td><b>Branch</b></td>
                                    <td>{{test.Candidate.Branch}}</td>
                                </tr>
                                <tr>
                                    <td><b>College</b></td>
                                    <td>{{test.Candidate.College}}</td>
                                </tr>
                                <tr>
                                    <td><b>Passing year</b></td>
                                    <td>{{test.Candidate.PassingYear}}</td>
                                </tr>
                                <tr>
                                    <td><b>CGPA</b></td>
                                    <td>{{test.Candidate.CGPA}}</td>
                                </tr>
                                <tr>
                                    <td><b>Experience</b></td>
                                    <td>{{test.Candidate.ExperienceInYears}}</td>
                                </tr>
                                <tr>
                                    <td><b>Current company</b></td>
                                    <td>{{test.Candidate.CurrentCompany}}</td>
                                </tr>
                            </tbody>
                        </table>

                        <p style="text-align: center"><b>Test Details</b></p>
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td><b>Job applied for</b></td>
                                    <td>{{test.Job.Title}}</td>
                                </tr>
                                <tr>
                                    <td><b>Test finished on</b></td>
                                    <td>{{test.FinishedDate | date}}</td>
                                </tr>
                                <tr>
                                    <td><b>Total questions</b></td>
                                    <td>{{test.Challenges.length}}</td>
                                </tr>
                                <tr>
                                    <td><b>Total answered</b></td>
                                    <td>{{test.TotalChallengesAnswered}}</td>
                                </tr>
                                <tr>
                                    <td><b>Total correct</b></td>
                                    <td>{{test.TotalRightAnswers}}</td>
                                </tr>
                                <tr>
                                    <td><b>Test result</b></td>
                                    <td [ngClass]="test.IsTestPassed === false ? 'red-color' : 'green-color'">{{test.IsTestPassed === false ? 'Failed' : 'Passed'}}</td>
                                </tr>
                            </tbody>
                        </table>

                        <p style="text-align: center"><b>Labels - Difficulties - Correct Answers</b></p>
                        <table class="table table-striped">
                            <tbody>
                                <tr *ngFor="let lda of keys()">
                                    <td><b>{{lda}}</b></td>
                                    <td>{{test.LabelDiffAnswers[lda]}}</td>
                                </tr>
                                
                            </tbody>
                        </table>


                    </div>

                </div>
           
            </div>
    </div>
</div>

<div class="router-outlet-container" *ngIf="test">
    <p class="d-flex admin-outlet-heading" style="margin-bottom: 0px"><span style="padding-left: 15px"><i class="fa fa-bars fa-lg sidenav-close" (click)="toggleNavButton()" style="cursor: pointer; color: whitesmoke"></i></span> <span class="question-timer" style="text-align: center;margin-left: auto;margin-right: auto">Test Details</span></p>
    <div class="admin-data-container" style="box-sizing: border-box; overflow: auto">
        <div class="" (click)="toggleNavButton()" style="max-height: 0px">

            <div class="d-flex flex-column" style="flex: 1 1 auto; padding-left: 20px; overflow: auto">
                
                <div style="position: relative">
                    <p style="background-color: #353B47; color: whitesmoke ; text-align: center; padding-top: 10px; padding-bottom: 10px"><b>Questions displayed to candidate</b></p>
                    <div style="position: absolute ; display: flex; justify-content: center;top: 8px; left: 5px;">
                        <button [routerLink]="['../../tests/testResults']" class="btn light-gray small-icon-btn"><i class="fa fa-chevron-left" style="margin-right: 8px"></i><span class="hidden-md-down">Back to results</span></button>
                    </div>
                </div>
                
                    <p style="text-align: center">
                        <span style="margin-right: 15px;"><i class="fa fa-circle blue-color" style="margin-right: 8px;"></i>Candidate selected & correct answer</span>
                        <span style="margin-right: 15px;"><i class="fa fa-circle green-color" style="margin-right: 8px;"></i>Correct answer</span>
                        <span ><i class="fa fa-circle red-color" style="margin-right: 8px;"></i>Candidate selected & wrong answer</span>
                    </p>
                    <hr>
                    <div>
                        <div *ngFor="let challenge of test.Challenges">
                            <div>
                                <div>
                                    <div>
                                        <span>
                                            Label : <b>{{challenge.Question.Label.Name}}  </b>
                                        </span> |
                                        <span>
                                            Difficulty: <b>{{challenge.Question.Difficulty.Name}} </b>
                                        </span> |
                                        <span>
                                            Answered correctly: <b >{{isCorrect(challenge) ? "Yes" : "No"}}</b>
                                        </span>
                                    </div>
                                    <p *ngIf="challenge.Question.QuestionGroup?.Description"><i class="fa fa-star"></i>&nbsp; <span [innerHTML]="challenge.Question.QuestionGroup?.Description"></span></p>
                                    <p><i class="fa fa-star"></i>&nbsp; <b><span [innerHTML]="challenge.Question.Text"></span></b></p>
                                    <div *ngIf="challenge.Question?.ImageUrl?.length > 0">
                                        <img [src]="challenge.Question.ImageUrl" class="imagePreview" />
                                    </div>
                                    
                                    <div *ngFor="let option of challenge.Question.Options">
                                        <div>
                                            <!--<span *ngIf="option.IsAnswer">Right Answer</span>
                                            <span *ngIf="hasCandidateSelected(option, challenge)">CandidateSelected</span>-->
                                        </div>
                                        <p class="finishedTestQuestionOption" [ngClass]="{'green-color': option.IsAnswer,'blue-color': option.IsCandidateSelected && option.IsAnswer ,'red-color': hasCandidateSelected(option, challenge)}" [innerHTML] ="option.Text"><i class="fa fa-caret-right"></i></p>
                                    </div>
                                </div>
                            </div>
                            <hr/>
                        </div>
                    </div>
                
            </div>
        
        </div>
    </div>
</div>