html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
md-toolbar h1{
    font-size: 1.250em;
    font-weight: 400;
    margin: auto;
}

md-toolbar .md-toolbar-tools h1{
    font-size: 1.250em;
    font-weight: 400;
}

md-sidenav md-list{
    padding: 0px 0px 8px 0px;
}
.sideNavList{
    .md-button{
        text-align:left;
        md-icon{
            margin-bottom:6px;
        }
    }
}
md-list-item{
    .md-button {
        padding-top: 20px;
        height: 80px;
    }
    span{
        font-size: 1.4em;
        font-weight: 400;
    }
    md-icon{
        margin-right: 10px;
    }
}
.s42{
    height: 30px;
    width: 30px;
}
#myModal, md-dialog{
    width: 100%;
    height: 100%;
}

.fill-width{
    width: 100%;
}