html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    overflow: hidden;
    max-height: 100%;
    max-width: 100%;
}
md-toolbar h1{
    font-size: 1.250em;
    font-weight: 400;
    margin: auto;
}
.logo-style-small{
    height: 20%;
    width: 55%;
}
md-toolbar .md-toolbar-tools h1{
    font-size: 1.250em;
    font-weight: 400;
}

md-sidenav md-list{
    padding: 0px 0px 8px 0px;
}
.sideNavList{
    .md-button{
        text-align:left;
        md-icon{
            margin-bottom:6px;
        }
    }
}
md-list-item{
    .md-button {
        padding-top: 18px;
        height: 75px;
    }
    span{
        font-size: 1em;
        font-weight: 400;
    }
    md-icon{
        margin-right: 10px;
    }
}
.s42{
    height: 30px;
    width: 30px;
}

.icon-white{
    color: white;
}

.s34{
    height: 34px;
    width: 34px;
}
#myModal, md-dialog{
    width: 100%;
    height: 100%;
}

.fill{
    height: 100%;
    width: 100%;
}

.fill-width{
    width: 100%;
}

.fill-height{
    height: 100%;
}

.align-center{
    align-self: center;
}

.justify-self-center {
    margin: auto !important; 
}

.justify-right{
    margin-left: auto !important;
}

.inline-block-display {
  display: inline-block;
}

@media screen and (min-width:1200px) {
    #timeUpModal md-dialog{
        width: 40vw;
        height: 40vh;
    }

    #uploadStatusModal md-dialog{
        width: 20vw !important;
        height: 170px;
    }
}
.timeUpImage{
    width: 200px;
    height: 200px;
}

.cursor-pointer{
    cursor: pointer;
}

.padding-left-6{
    padding-left: 7px;
}
//for changing angular material disabled checkboxes
/*md-checkbox.md-default-theme[disabled].md-checked .md-icon, md-checkbox[disabled].md-checked .md-icon{
    background-color: rgba(231, 224, 241, 0.48);
}*/ 

.difficultyLabelForm{
    md-input-container{
        margin-top: 0px;
    }
}

.no-display{
    display: none;
}
.no-pointer{
    cursor: default;
}
.text-align-center{
    text-align: center;
}

.text-align-left{
    text-align: left;
}

.instructions{
    font-size: 1.5em !important;
}
.red-color{
    color: red;
}

.green-color{
    color: forestgreen;
}

.blue-color{
    color: blue;
}

.dark-grey{
    background-color: dimgray;
}

.finishedTestQuestions md-chips.md-default-theme .md-chips, md-chips .md-chips {
    box-shadow: none;
    font-size: 0.9em;
    margin-bottom: 2px;
    padding-bottom: 2px;
}

.finishedTestQuestions .md-chips md-chip {
    height: 30px;
}

.finishedTestQuestionOption{
    margin-top: 1px;
}

.qlogo .md-button.md-icon-button {
    height: 80px;
    width: 200px;
}

.qlogo .md-button.md-icon-button md-icon {
    height: 60px;
    width: 180px;
}
.garfield-img{
    width: 500px;
    height: 400px;
}

@media screen and (min-width:350px) and (max-width:400px) {
    .garfield-img{
        width: 500px;
        height: 250px;
    }
}

.imagePreview{
    max-width: 100%;
    max-height: 100%;
}

.logo-medium{
    height: 35px;
}

.overflow-hidden{
    overflow: hidden;
}
.margin-10{
    margin: 10px;
}