.fileInput{
    justify-content:center;
}

.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

.previewQuestion{
    text-align: left;

    h3{
        display:inline-block;
    }
    h4{
        color:tomato;
    }
    li{
        font-size: 1.1em;
    }
    i{
        margin-right: 10px;
    }
}

.previewOptionList{
    ul {
        list-style: none;
    }
}

.fileUpload{
    margin-left: 7px;
}