[Oo]bj
[Bb]in
Build
packages
*.user
*.suo
*.[Cc]ache
*.ncb
*.log
*.log.*
*.orig
*.swp
*.rej
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
[Cc]lient[Bb]in
*.Publish.xml
Publish
CommonAssemblyInfo.cs
[Oo]utput.txt
Backups/*.bak
desktop.ini
*.js.map
*.css.map
node_modules/
SlnDir
# Visual Studio test runner playlists
*.playlist
.vs/*
Quantium.Recruitment.Portal/wwwroot/bootstrapper.js
Quantium.Recruitment.Portal/wwwroot/lib/*
Quantium.Recruitment.Portal/wwwroot/css/site*
Quantium.Recruitment.ApiServices/scripts/ODataEntities.js
*/secrets.json
Quantium.Recruitment.Portal/wwwroot/PreviewImages/*
Quantium.Recruitment.Portal/wwwroot/QuestionImages/*
