<div class="d-flex" style="justify-content: center">
        <div class="col-lg-5 col-md-10" style="padding: 20px;margin-top: 20px">
                <div class="d-flex">
                        <div style="padding-top: 6px;">
                                Download bulk upload template
                        </div>
                        <button type="button" class="btn btn-primary download-template" style="margin-bottom: 20px; margin-left: auto">
                                <a href="/CandidatesTemplate.xlsx" download="Candidates Template">Download</a>
                        </button>
                </div>
                <div class="d-flex" style="margin-top: 20px">
                        <div style="padding-top: 6px;">
                                Upload .xlsx file
                        </div>
                        
                        <div class="l-container" style="margin-left: auto">
                                <div class="file-input-wrapper">
                                        <span style="margin-right: auto; margin-top: 6px; margin-left: 10px">{{fileText}}</span>
                                        <button class="btn-file-input btn light-gray">Browse</button>
                                        <input type="file" name="file"  #fileInput="ngModel" [ngModel]="fileModel" accept=".xlsx" size="14" (click)="browseClick(fileInput)" (change)="onFileChange($event)" />
                                </div>

                        </div>
                </div>
                <div class="d-flex" style="margin-bottom: 20px;margin-top: 40px; justify-content: space-between" >

                        <button type="button" class="btn btn-primary light-gray" data-toggle="button" autocomplete="off" [disabled]="!fileData || validationFailed" (click)="previewCandidates(content)" >
                                Preview
                        </button>
                        <button type="button" class="btn btn-primary red" data-toggle="button" autocomplete="off" [disabled]="!fileData || validationFailed" (click)="addCandidates(progress)">
                                Save
                        </button>

                </div>
        </div>
</div>

 <div bsModal #previewCandidatesModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" [config]="{backdrop: 'static', ignoreBackdropClick: true, keyboard: false}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
                <div class="d-flex" style="flex: 1 1 auto; justify-content: center">
                        <h4 class="modal-title">Your candidates</h4>
                </div>
                <button type="button" class="close" aria-label="Close" (click)="previewCandidatesModal.hide()">
                        <span><i class="fa fa-times-circle-o fa-2x"></i></span>
                </button>
        </div>
        <div class="modal-body">
                <table class="table table-striped">
                        <thead>
                                <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                        </tr>
                        </thead>
                        <tbody>
                                <tr *ngFor="let candidate of candidates; let index=index">
                                <td scope="row">{{index + 1}}</td>
                                <td>{{candidate.FirstName ? candidate.FirstName :  "-"}}</td>
                                <td>{{candidate.LastName ? candidate.LastName :  "-"}}</td>
                                <td>{{candidate.Email}}</td>
                                </tr>
                        </tbody>
                </table>
        </div>
    </div>
  </div>
</div>

<div bsModal #progress="bs-modal" class="modal fade" tabindex="-1" role="dialog" [config]="{backdrop: 'static', ignoreBackdropClick: true, keyboard: false}">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
                <h5 class="modal-title" style="width: 100%; text-align: center">{{modalResponse}}</h5>
        </div>
      
      <div class="modal-footer" style="justify-content: center">
                <span class="fa fa-spinner fa-spin fa-2x"  *ngIf="isRequestProcessing"></span>
                
                <button type="button" class="close"   *ngIf="!isRequestProcessing" (click)="closeProgressModal()">
                       <span class="fa fa-times-circle-o fa-2x"></span>
                </button>
        </div>
    </div>
  </div>
</div>
 