<!DOCTYPE html>
<html>

<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quantium • Recruitment</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:title" content="Quantium • Recruitment" />
    <meta name="theme-color" content="#900C3F">


    <base href="/Home/Index/" />
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />

</head>

<body class="login-background">
    @RenderBody()

    <environment names="Staging,Production, Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>

</html>