<!DOCTYPE html>

<html>
<head prefix="og: http://ogp.me/ns#">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:title" content="Quantium • Recruitment" />

    <title>Quantium • Recruitment</title>

    <link rel="icon" href="~/img/favicon.png">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/highcharts/js/highcharts.js"></script>
    <script src="~/lib/highcharts/modules/exporting.js"></script>
    <script src="~/lib/highcharts/modules/drilldown.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="~/lib/ng-file-upload/ng-file-upload.js"></script>
    <link rel="stylesheet" href="~/lib/flipclock/compiled/flipclock.css" />
    <script src="~/lib/flipclock/compiled/flipclock.min.js"></script>
    <script src="~/lib/lodash/dist/lodash.min.js"></script>

    <link rel="stylesheet" type="text/css" href="~/lib/font-awesome/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    @*<link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
    <link rel="stylesheet" type="text/css" href="~/lib/angular-xeditable/dist/css/xeditable.css" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />

    <script src="~/lib/angular-mocks/angular-mocks.js"></script>
    <script src="~/lib/flipclock/compiled/flipclock.js"></script>
    <script src="~/lib/angular-xeditable/dist/js/xeditable.js"></script>
    <script src="~/lib/angular-animate/angular-animate.js"></script>
    <script src="~/lib/angular-aria/angular-aria.min.js"></script>
    <script src="~/lib/angular-messages/angular-messages.js"></script>
    <script src="~/lib/angular-material/angular-material.js"></script>
    <script src="~/lib/angular-material-icons/angular-material-icons.min.js"></script>
    <script src="~/lib/lf-ng-md-file-input/dist/lf-ng-md-file-input.min.js"></script>
    <script src="~/lib/moment/moment.js"></script>
    
    <link rel="stylesheet" type="text/css" href="~/lib/angular-material/angular-material.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/highcharts/css/highcharts.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/angular-material-icons/angular-material-icons.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/lf-ng-md-file-input/dist/lf-ng-md-file-input.css" />
    <script src="~/bootstrapper.js"></script>

</head>
<body layout="row">

    @RenderBody()

</body>
</html>
