<div>
    <h1> Add Candidates Page</h1>
    <md-content>
        <div class="input-append" ng-repeat="candidate in candidatesArray.candidates">
            <md-input-container>
                <label>Name</label>
                <input ng-model="candidate.name">
            </md-input-container>

            <md-input-container>
                <label>Email</label>
                <input ng-model="candidate.email">
            </md-input-container>

            <md-button class="md-primary md-raised" ng-click="remove($index)">Remove Candidate</md-button>
        </div>

        <md-button class="md-primary md-raised" ng-click="add()">Add Candidate</md-button>

        <p>Or</p>

        <md-button class="md-primary md-raised" href="/CandidatesTemplate.csv">Download Template</md-button>

        <lf-ng-md-file-input lf-files="files01" lf-api="api01"></lf-ng-md-file-input>

        <md-button class="md-primary md-raised" ng-click="showPrerenderedDialog($event)">
            Preview Candidates
        </md-button>

        <md-button class="md-primary md-raised" ng-click="saveChanges()">
            Save Changes
        </md-button>
        {{uploadResult}}
    </md-content>

    <div style="visibility: hidden">
        <div class="md-dialog-container" id="myModal">
            <md-dialog layout-padding="">
                <h2>Your uploaded candidates</h2>
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title">Candidate's List</h1>
                            </div>
                            <div class="modal-body">
                                <p ng-hide="previewCandidatesModel.length > 0">Dude, Upload the CSV first !!!</p>
                                <div class="previewCandidates" ng-repeat="candidatesModel in previewCandidatesModel">
                                    <table>
                                        <tr>
                                            <td>{{candidatesModel.name}}</td>
                                            <td>{{candidatesModel.email}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>
            </md-dialog>
        </div>
    </div>

</div>
