<div>
    <h1> Administrator page</h1>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                First Name:
                <input type="text" ng-model="firstName"><br>
                Last Name:
                <input type="text" ng-model="lastName"><br>
                Email:
                <input type="text" ng-model="email"><br>
                Mobile:
                <input type="text" ng-model="mobile"><br>
                Division:
                <select ng-model="division">
                    <option ng-repeat="department in departmentList" value="{{department.id}}">{{department.name}}</option>
                </select>
            </div>

            <div class="panel-footer">
                <button class="btn btn-success" ng-click="saveChanges()">{{submitText}}</button>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div class="form-group">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Department</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="admin in adminList">
                    <td>{{admin.firstName}}</td>
                    <td>{{admin.lastName}}</td>
                    <td>{{admin.email}}</td>
                    <td>{{admin.mobile}}</td>
                    <td>{{admin.DepartmentId}}</td>
                    <td><input type="button" ng-click="edit(admin)" value="Edit" /></td>
                    <td><input type="button" ng-click="delete(admin)" value="Delete"/></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
