
<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button hide-gt-sm class="md-icon-button">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <h1>
           Add team admin
        </h1>
    </div>
</md-toolbar>
<md-content flex>
    <div ng-cloak="" class="md-inline-form" layout="row" flex>
        <md-card flex>
            <md-card-content flex layout="column">
                <div>
                    <form name="adminForm" layout="column">
                        <md-input-container>
                            <label>First Name</label>
                            <input ng-model="firstName" required>
                        </md-input-container>

                        <md-input-container>
                            <label>Last Name</label>
                            <input ng-model="lastName" required>
                        </md-input-container>

                        <md-input-container>
                            <label>Email</label>
                            <input ng-model="email" required>
                        </md-input-container>

                        <md-input-container>
                            <label>Mobile</label>
                            <input ng-model="mobile" required>
                        </md-input-container>

                        <md-input-container>
                            <label>Department</label>
                            <md-select ng-model="division" required>
                                <md-option value="0"><em>None</em></md-option>
                                <md-option ng-repeat="department in departmentList" ng-value="department.Id">
                                    {{department.Name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </form> 
                </div>
                <md-button class="md-primary md-raised align-center" ng-click="saveChanges()">
                    Add admin
                </md-button>
            </md-card-content>
        </md-card>
    </div>
</md-content>
