<div layout="column" flex>
    <md-toolbar class="md-primary md-hue-2">
        <div class="md-toolbar-tools qlogo" layout-gt-md="row" layout-lt-md="column" layout-align="center center">
                <md-button class="md-icon-button">
                    <md-icon md-svg-icon="logo" class=""></md-icon>
                </md-button>
        </div>
    </md-toolbar>
    <div ng-include="'../views/settingsFab.html'"></div>
    <md-content flex layout-align="center start">
        <div layout="column" flex="100" flex-gt-sm="60" layout-align="center center" class="fill-height">
            <div layout="column">
                <div>
                    <md-card md-theme="dark-grey" md-theme-watch>
                        <md-card-content  class="justify-self-center">
                            <h2>
                                Thank you <b>{{candidateName}}</b>
                            </h2>
                        </md-card-content>
                    </md-card>
                </div>
                <div>
                    <md-card>
                        <md-card-content>
                            <md-list>
                                <md-list-item>
                                    <div flex>
                                        <h3 class="justify-self-center">
                                            Your test is finished. Please wait while we evaluate it.
                                        </h3>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </div>
    </md-content>
</div>

