<div layout="column" flex>
    <md-toolbar>
        <div class="md-toolbar-tools" layout-gt-sm="row" layout-lt-sm="column">
            <h1 class="justify-self-center materialHeading">
                Please fill Profile Information
            </h1>
        </div>
    </md-toolbar>
    <div ng-include="'../views/settingsFab.html'"></div>
    <md-content flex layout-align="center start">
        <div flex-gt-sm="50">
            <md-card>
                <md-card-content>
                    <form name="candidateDetailsForm" layout="column" novalidate>
                        <div layout="row">
                            <md-input-container flex="50">
                                <label>First Name</label>
                                <input ng-model="candidate.FirstName" name="firstname" maxlength="20" required type="text">
                                <div ng-messages="candidateDetailsForm.firstname.$error">
                                    <div ng-message="required">First name is required.</div>
                                </div>
                            </md-input-container>

                            <md-input-container flex="50">
                                <label>Last Name</label>
                                <input ng-model="candidate.LastName" name="lastname" maxlength="30" required type="text">
                                <div ng-messages="candidateDetailsForm.lastname.$error">
                                    <div ng-message="required">Last name is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container flex="100">
                                <label>Mobile</label>
                                <input ng-model="candidate.Mobile" name="mobile" required type="number" minlength="10" maxlength="10">
                                <div ng-messages="candidateDetailsForm.mobile.$error">
                                    <div ng-message="required">Mobile is required.</div>
                                    <div ng-message="minlength">Mobile number should not contain less than 10 digits</div>
                                    <div ng-message="maxlength">Mobile number should not contain more than 10 digits</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container flex="33">
                                <label>City</label>
                                <input ng-model="candidate.City" name="city" required maxlength="30">
                                <div ng-messages="candidateDetailsForm.city.$error">
                                    <div ng-message="required">City is required.</div>
                                </div>
                            </md-input-container>

                            <md-input-container flex="33">
                                <label>State</label>
                                <input ng-model="candidate.State" name="state" required maxlength="30">
                                <div ng-messages="candidateDetailsForm.state.$error">
                                    <div ng-message="required">State is required.</div>
                                </div>
                            </md-input-container>

                            <md-input-container flex="33">
                                <label>Country</label>
                                <input ng-model="candidate.Country" name="country" required maxlength="30" value="India">
                                <div ng-messages="candidateDetailsForm.country.$error">
                                    <div ng-message="required">Country is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container flex="50">
                                <label>Branch</label>
                                <input ng-model="candidate.Branch" name="branch" required maxlength="50">
                                <div ng-messages="candidateDetailsForm.branch.$error">
                                    <div ng-message="required">First name is required.</div>
                                </div>
                            </md-input-container>

                            <md-input-container flex="50">
                                <label>College</label>
                                <input ng-model="candidate.College" name="college" required maxlength="100">
                                <div ng-messages="candidateDetailsForm.college.$error">
                                    <div ng-message="required">College is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container flex="100">
                                <label>Gradudation year</label>
                                <md-select ng-model="candidate.PassingYear" name="passingYear" required>
                                    <md-option ng-value="year" ng-repeat="year in [2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000]">{{ year }}</md-option>
                                </md-select>
                                <div ng-messages="candidateDetailsForm.passingYear.$error">
                                    <div ng-message="required">Graduation year is required.</div>
                                </div>
                            </md-input-container>
                        </div>

                        <div layout-gt-xs="row" class="materialDropdownMargin">
                            <md-input-container flex-sm="40" class="fill-width">
                                <label>Experience(in years)</label>
                                <md-select ng-model="candidate.ExperienceInYears" name="experience" required>
                                    <md-option ng-value="year" ng-repeat="year in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">{{ year + (year == 1 ? ' year' : ' years')}}</md-option>
                                </md-select>
                                <div ng-messages="candidateDetailsForm.experience.$error">
                                    <div ng-message="required">Experience is required.</div>
                                </div>
                            </md-input-container>
                       
                            <md-input-container flex-sm="60" class="fill-width">
                                <label>Current company</label>
                                <input ng-model="candidate.CurrentCompany" name="company" maxlength="50" placeholder="N/A">
                                <div ng-messages="candidateDetailsForm.company.$error">
                                    <div ng-message="required">Current company is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                        
                        <md-button type="submit" class="md-raised md-primary createJobButton" ng-click="candidateDetailsForm.$valid && proceed()">Proceed</md-button>
                    </form>
                </md-card-content>
            </md-card>
        </div>
    </md-content>
</div>


