<div ng-controller="candidatesListController">
    <div layout="column">
        <div layout="row" class="margin-top-20">
            <md-input-container flex-gt-xs="30">
                <md-icon md-svg-src="../img/search.svg" class="email"></md-icon>
                <input ng-model="search" placeholder="Search Candidates" class="clearXinIE">
            </md-input-container>
        </div>
        <div layout="row">
            <div class="fill-width">
                <md-content layout="row" layout-wrap layout-align="start center">
                    <md-list-item class="md-2-line candidate-list-item" ng-repeat="candidate in candidates | filter: search">
                        <img ng-src="../img/accountGrey.svg" class="md-avatar" alt="{{candidate.FirstName}}" />
                        <div class="md-list-item-text" layout="column">
                            <h3>{{candidate.FirstName}} {{candidate.LastName}}</h3>
                            <h4>{{candidate.Email}}</h4>
                        </div>
                    </md-list-item>
                </md-content>
            </div>
        </div>
    </div>
</div>
