
<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button hide-gt-sm class="md-icon-button">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <h1>
            Create Job
        </h1>
    </div>
</md-toolbar>
<md-content class="fill" layout="column">
    <form name="difficultyLabelForm" class="difficultyLabelForm">
        <div layout="column">
            <md-card>
                <md-card-content>
                    <div layout="row">
                        <div layout="column" flex-gt-sm="30">
                            <md-input-container>
                                <label>Job Title</label>
                                <input ng-model="job.Title" required name="jobTitle">
                                <div ng-messages="difficultyLabelForm.jobTitle.$error">
                                    <div ng-message="required">Title is required.</div>
                                </div>
                            </md-input-container>

                            <md-input-container>
                                <label>Department</label>
                                <md-select ng-model="job.Department.Id" required name="department">
                                    <md-option value="0"><em>None</em></md-option>
                                    <md-option ng-repeat="department in departments" ng-value="department.Id">
                                        {{department.Name}}
                                    </md-option>
                                </md-select>
                                <div ng-messages="difficultyLabelForm.department.$error">
                                    <div ng-message="required">Department is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                    <div layout="row">
                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>Job Profile</label>
                            <textarea ng-model="job.Profile" required md-maxlength="150" rows="2" md-select-on-focus="" minlength="20" max-rows="5" name="profile"></textarea>
                            <div ng-messages="difficultyLabelForm.profile.$error">
                                <div ng-message="required">Job Profile is required.</div>
                                <div ng-message="minlength">Job Profile should be a minimum of 20 characters .</div>
                            </div>
                        </md-input-container>
                    </div>
                </md-card-content>
            </md-card>
            <!--<md-card>
                <md-card-content>
                    <h4>You should add labels, difficulties and the question counts for the kind of questions you want the test to have</h4>
                    <h4>You cannot select more questions than the number of questions that are available for the given label and difficulty</h4>
                    <h4>You can remove the label and difficulties you dont want to include for this job</h4>
                </md-card-content>
            </md-card>-->
            <md-card>
                <md-card-content>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Add Label and Difficulties</span>
                        </md-card-title-text>
                    </md-card-title>

                    <div layout="column" flex>
                        <div>
                            <div class="input-append" ng-repeat="jobDifficultyLabel in jobDifficultyLabelArray.jobDifficultyLabels" layout-gt-sm="row" layout-lt-sm="column" layout-align="space-around">
                                <md-input-container flex-gt-sm="20" flex-lt-sm="100">
                                    <label>Label</label>
                                    <md-select required name="label{{jobDifficultyLabel.LabelId}}" 
                                               ng-model="jobDifficultyLabel.LabelId" 
                                               ng-change="showAvailableQuestions(jobDifficultyLabel)">
                                        <md-option><em>None</em></md-option>
                                        <md-option ng-repeat="label in labels" ng-value="label.Id">
                                            {{label.Name}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="difficultyLabelForm['label' + jobDifficultyLabel.LabelId].$error" 
                                         ng-show="difficultyLabelForm['label' + jobDifficultyLabel.LabelId].$touched" >
                                        <div ng-message="required">This is required.</div>
                                    </div>
                                </md-input-container>

                                <md-input-container flex-gt-sm="20" flex-lt-sm="100">
                                    <label>Difficulty</label>
                                    <md-select required name="difficulty{{jobDifficultyLabel.DifficultyId}}" 
                                               ng-model="jobDifficultyLabel.DifficultyId" 
                                               ng-change="showAvailableQuestions(jobDifficultyLabel)">
                                        <md-option><em>None</em></md-option>
                                        <md-option ng-repeat="difficulty in difficulties" ng-value="difficulty.Id">
                                            {{difficulty.Name}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="difficultyLabelForm['difficulty' + jobDifficultyLabel.DifficultyId].$error" 
                                         ng-show="difficultyLabelForm['difficulty' + jobDifficultyLabel.DifficultyId].$touched">
                                        <div ng-message="required">This is required.</div>
                                    </div>
                                </md-input-container>

                                <md-input-container class="" flex-gt-sm="20" flex-lt-sm="100"
                                                    ng-show="(jobDifficultyLabel.QuestionCount &&  (jobDifficultyLabel.QuestionCount > 0)) === true">
                                    <label>Questions to display</label>
                                    <input ng-model="jobDifficultyLabel.UserQuestionCount" name="userQuestionCount{{jobDifficultyLabel.DifficultyId + jobDifficultyLabel.LabelId}}" required type="number" min="1" max={{jobDifficultyLabel.QuestionCount}} ng-pattern="/^\d+$/" placeholder="{{jobDifficultyLabel.QuestionCount}}">
                                    <div ng-messages="difficultyLabelForm['userQuestionCount' + jobDifficultyLabel.DifficultyId + jobDifficultyLabel.LabelId].$error" 
                                          ng-show="difficultyLabelForm['userQuestionCount' + jobDifficultyLabel.DifficultyId + jobDifficultyLabel.LabelId].$touched" role="alert">
                                        <div ng-message-exp="['required', 'min', 'max', 'pattern']">
                                            This should not be less than 1 and greater than {{jobDifficultyLabel.QuestionCount}}
                                        </div>
                                    </div>
                                </md-input-container>

                                <md-input-container class="" flex-gt-sm="20" flex-lt-sm="100"
                                                    ng-show="jobDifficultyLabel.UserQuestionCount">
                                    <label>Questions to pass</label>
                                    <input ng-model="jobDifficultyLabel.PassingQuestionCount" name="passingQuestionCount{{jobDifficultyLabel.DifficultyId + jobDifficultyLabel.LabelId}}" required type="number" min="1" max={{jobDifficultyLabel.UserQuestionCount}} ng-pattern="/^\d+$/" placeholder="{{jobDifficultyLabel.UserQuestionCount}}">
                                    <div ng-messages="difficultyLabelForm['passingQuestionCount' + jobDifficultyLabel.DifficultyId + jobDifficultyLabel.LabelId].$error"
                                         ng-show="difficultyLabelForm['passingQuestionCount' + jobDifficultyLabel.DifficultyId + jobDifficultyLabel.LabelId].$touched" role="alert">
                                        <div ng-message-exp="['required', 'min', 'max', 'pattern']">
                                            This should not be less than 1 and greater than {{jobDifficultyLabel.UserQuestionCount}}
                                        </div>
                                    </div>
                                </md-input-container>

                                <md-button class="md-fab md-mini md-accent" ng-click="removeJobDifficultyLabel($index)">
                                    <md-icon md-svg-icon="close"></md-icon>
                                </md-button>

                            </div>
                            <md-button class="md-fab md-accent md-raised" ng-click="addJobDifficultyLabel()">
                                <md-icon md-svg-icon="add"></md-icon>
                            </md-button>
                        </div>
                        <md-button type="submit" class="md-raised md-primary createJobButton" ng-click="difficultyLabelForm.$valid && createJob()">Create Job</md-button>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </form>
</md-content>

<div style="visibility: hidden">
    <div class="md-dialog-container" id="uploadStatusModal">
        <md-dialog>
            <md-toolbar class="md-accent">
                <div class="md-toolbar-tools">
                    <h3>
                        Job creation in progress
                    </h3>
                </div>
            </md-toolbar>
            <md-content>
                <md-card>
                    <md-card-content>
                        <div layout="row" layout-align="space-around">
                            <md-progress-circular md-mode="indeterminate" class="md-primary"></md-progress-circular>
                        </div>
                    </md-card-content>
                </md-card>
                
            </md-content>
        </md-dialog>
    </div>
</div>