
<hr class="tagline-divider">
<h2 class="brand-before">
    <small>Create Test</small>
</h2>
<hr class="tagline-divider">


<div class="tileContainer">

    <div class="tile" ui-sref="uploadQuestions">
        <div class="tile-content"><i class="fa fa-camera-retro fa-5x"></i><br /><h4>Upload Questions</h4></div>
        <div class="tile-overlay left">
        </div>
    </div>

    <div class="tile" ui-sref="createQuestions">
        <div class="tile-content"><i class="fa fa-camera-retro fa-5x"></i><br /><h4>Create Questions</h4></div>
        <div class="tile-overlay left">
        </div>
    </div>

</div>
