<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button hide-gt-sm class="md-icon-button">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <h1>
            Create test
        </h1>
    </div>
</md-toolbar>
<md-content flex layout="column">
    <md-card flex>
        <md-card-content layout="column" flex>
            <md-input-container>
                <label>Job</label>
                <md-select ng-model="selectedJobId">
                    <md-option value="0"><em>None</em></md-option>
                    <md-option ng-repeat="job in jobs" ng-value="job.Id" ng-click="changeSelectedJob(job)">
                        {{job.Title}}
                    </md-option>
                </md-select>
            </md-input-container>
            <h3>Total questions in selected job: {{totalQuestionsInSelectedJob}}</h3>
            <ul>
                <li ng-repeat="jobDifficultyLabel in selectedJob.JobDifficultyLabels">{{jobDifficultyLabel.Label.Name}} - {{jobDifficultyLabel.Difficulty.Name}} - {{jobDifficultyLabel.QuestionCount}}</li>
            </ul>
                
        </md-card-content>
    </md-card>
    <md-card>
        <md-card-content>
            <h3 class="fileUpload">Select the candidates for this job</h3>
            <div layout="row" layout-wrap>
                <div ng-repeat="candidate in candidates">
                    <md-card>
                        <md-card-content>
                            <md-input-container>
                                <md-checkbox ng-model="selectedtestOptions.candidateIds[candidate.Id]">
                                    {{candidate.FirstName}} {{candidate.LastName}}
                                </md-checkbox>
                                <h4>{{candidate.Email}}</h4>
                            </md-input-container>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
            <br />
            <br />
            <md-button class="md-primary md-raised" ng-click="generateTest()">
                Generate test for selected Candidates
            </md-button>
        </md-card-content>
    </md-card>
</md-content>

