<md-toolbar class="md-primary md-hue-2">
    <div class="md-toolbar-tools">
        <md-button hide-gt-sm class="md-icon-button" ng-click="toggleSidenav()">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <h1 class="justify-self-center">
            Jobs
        </h1>
    </div>
</md-toolbar>
<div ng-include="'../views/settingsFab.html'"></div>
<div class="fill-height">
    <md-tabs class="fill-height">
        <md-tab label="Create job" class="fill">
            <md-content layout="column">
                <form name="difficultyLabelForm" class="difficultyLabelForm" novalidate>
                    <div layout="column">
                        <md-card>
                            <md-card-content>
                                <div layout="row">
                                    <div layout="row" class="fill-width">
                                        <md-input-container flex="50">
                                            <label>Job Title</label>
                                            <input ng-model="job.Title" required name="jobTitle">
                                            <div ng-messages="difficultyLabelForm.jobTitle.$error">
                                                <div ng-message="required">Title is required.</div>
                                            </div>
                                        </md-input-container>

                                        <md-input-container flex="50">
                                            <label>Department</label>
                                            <md-select ng-model="job.Department.Id" required name="department">
                                                <md-option ng-repeat="department in departments" ng-value="department.Id">
                                                    {{department.Name}}
                                                </md-option>
                                            </md-select>
                                            <div ng-messages="difficultyLabelForm.department.$error">
                                                <div ng-message="required">Department is required.</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div layout="row" class="margin-top-20">
                                    <md-input-container class="md-block" flex-gt-sm="">
                                        <label>Job Profile</label>
                                        <textarea ng-model="job.Profile" required md-maxlength="150" rows="2" md-select-on-focus="" minlength="20" max-rows="5" name="profile"></textarea>
                                        <div ng-messages="difficultyLabelForm.profile.$error">
                                            <div ng-message="required">Job Profile is required.</div>
                                            <div ng-message="minlength">Job Profile should be atleast 20 characters</div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </md-card-content>
                        </md-card>

                        <md-card>
                            <md-toolbar md-theme="grey-variant" class="md-table-toolbar md-hue-2">
                                <div class="md-toolbar-tools">
                                    <h2 class="justify-self-center">
                                        Add Label and Difficulties
                                    </h2>
                                </div>
                            </md-toolbar>
                            <br />
                            <md-card-content>
                                <div layout="column" flex>
                                    <div>
                                        <div class="input-append" ng-repeat="jobDifficultyLabel in jobDifficultyLabelArray.jobDifficultyLabels" layout-gt-sm="row" layout-lt-sm="column" layout-align="space-around" flex>
                                            <md-input-container flex-gt-sm="20" flex-lt-sm="100">
                                                <label>Label</label>
                                                <md-select required name="label{{jobDifficultyLabel.LabelId}}"
                                                           ng-model="jobDifficultyLabel.LabelId"
                                                           ng-change="showAvailableQuestions(jobDifficultyLabel)">
                                                    <md-option ng-repeat="label in labels" ng-value="label.Id">
                                                        {{label.Name}}
                                                    </md-option>
                                                </md-select>
                                                <div ng-messages="difficultyLabelForm['label' + jobDifficultyLabel.LabelId].$error"
                                                     ng-if="difficultyLabelForm['label' + jobDifficultyLabel.LabelId].$touched">
                                                    <div ng-message="required">This is required.</div>
                                                </div>
                                            </md-input-container>
                                            <md-input-container flex-gt-sm="20" flex-lt-sm="100">
                                                <label>Difficulty</label>
                                                <md-select required name="difficulty{{jobDifficultyLabel.DifficultyId}}"
                                                           ng-model="jobDifficultyLabel.DifficultyId"
                                                           ng-change="showAvailableQuestions(jobDifficultyLabel)">
                                                    <md-option ng-repeat="difficulty in difficulties" ng-value="difficulty.Id">
                                                        {{difficulty.Name}}
                                                    </md-option>
                                                </md-select>
                                                <div ng-messages="difficultyLabelForm['difficulty' + jobDifficultyLabel.DifficultyId].$error"
                                                     ng-if="difficultyLabelForm['difficulty' + jobDifficultyLabel.DifficultyId].$touched">
                                                    <div ng-message="required">This is required.</div>
                                                </div>
                                            </md-input-container>
                                            <md-input-container class="" flex-gt-sm="20" flex-lt-sm="100"
                                                                ng-if="(jobDifficultyLabel.QuestionCount &&  (jobDifficultyLabel.QuestionCount > 0)) === true">
                                                <label>Questions to display</label>
                                                <md-select required name="userQuestionCount{{jobDifficultyLabel.DifficultyId + jobDifficultyLabel.LabelId}}"
                                                           ng-model="jobDifficultyLabel.UserQuestionCount">
                                                    <md-option ng-repeat="jdl in getArray(jobDifficultyLabel.QuestionCount) track by $index" ng-value="($index + 1)">
                                                        {{$index + 1}}
                                                    </md-option>
                                                </md-select>
                                                <div ng-messages="difficultyLabelForm['userQuestionCount' + jobDifficultyLabel.DifficultyId + jobDifficultyLabel.LabelId].$error"
                                                     ng-if="difficultyLabelForm['userQuestionCount' + jobDifficultyLabel.DifficultyId + jobDifficultyLabel.LabelId].$touched" role="alert">
                                                    <div ng-message-exp="['required', 'min', 'max', 'pattern']">
                                                        This should not be less than 1 and greater than {{jobDifficultyLabel.QuestionCount}}
                                                    </div>
                                                </div>
                                            </md-input-container>

                                            <md-input-container class="" flex-gt-sm="20" flex-lt-sm="100"
                                                                ng-if="jobDifficultyLabel.UserQuestionCount">
                                                <label>Questions to pass</label>
                                                <md-select required name="passingQuestionCount{{jobDifficultyLabel.DifficultyId + jobDifficultyLabel.LabelId}}"
                                                           ng-model="jobDifficultyLabel.PassingQuestionCount">
                                                    <md-option ng-repeat="jdl in getArray(jobDifficultyLabel.UserQuestionCount) track by $index" ng-value="($index + 1)">
                                                        {{$index + 1}}
                                                    </md-option>
                                                </md-select>
                                                <div ng-messages="difficultyLabelForm['passingQuestionCount' + jobDifficultyLabel.DifficultyId + jobDifficultyLabel.LabelId].$error"
                                                     ng-if="difficultyLabelForm['passingQuestionCount' + jobDifficultyLabel.DifficultyId + jobDifficultyLabel.LabelId].$touched" role="alert">
                                                    <div ng-message-exp="['required', 'min', 'max', 'pattern']">
                                                        This should not be less than 1 and greater than {{jobDifficultyLabel.UserQuestionCount}}
                                                    </div>
                                                </div>
                                            </md-input-container>

                                            <md-button class="md-fab md-mini md-accent" ng-click="removeJobDifficultyLabel($index)">
                                                <md-icon md-svg-icon="close"></md-icon>
                                            </md-button>

                                        </div>
                                        <md-button class="md-fab md-accent md-raised" ng-click="addJobDifficultyLabel()">
                                            <md-icon md-svg-icon="add"></md-icon>
                                        </md-button>
                                    </div>
                                    <md-button ng-disabled="!questionDifficultyLabels" type="submit" class="md-raised md-primary createJobButton" ng-click="difficultyLabelForm.$valid && createJob()">Create Job</md-button>
                                </div>
                            </md-card-content>
                        </md-card>
                    </div>
                </form>
            </md-content>
        </md-tab>
        <md-tab label="View jobs">
            <div ng-repeat="existingJob in existingJobs">
                <md-card>
                    <md-toolbar md-theme="grey-variant" class="md-hue-2">
                        <div class="md-toolbar-tools">
                            <h5 class="justify-self-center">
                               Job title : {{existingJob.Title}}
                            </h5>
                        </div>
                    </md-toolbar>
                    <md-card-content>
                        <h4><b>Profile :</b> {{existingJob.Profile}}</h4>
                        <h4><b>Department :</b> {{existingJob.Department.Name}}</h4>
                        <h4 class="text-align-center"><b>Labels and difficulties</b></h4>
                        <md-divider></md-divider>
                        <div layout="row" layout-wrap>
                            <md-card ng-repeat="jdl in existingJob.JobDifficultyLabels track by $index">
                                <md-card-content>
                                    <h4><b>Difficulty :</b> {{jdl.Difficulty.Name}}</h4>
                                    <h4><b>Label :</b> {{jdl.Label.Name}}</h4>
                                    <h4><b>Questions to display :</b> {{jdl.DisplayQuestionCount}}</h4>
                                    <h4><b>Questions to pass :</b> {{jdl.PassingQuestionCount}}</h4>
                                </md-card-content>
                            </md-card>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </md-tab>
    </md-tabs>
</div>
<div style="visibility: hidden">
    <div class="md-dialog-container" id="uploadStatusModal">
        <md-dialog>
            <md-progress-circular md-mode="indeterminate" class="md-primary justify-self-center"></md-progress-circular>
        </md-dialog>
    </div>
</div>