<md-toolbar class="md-primary md-hue-2">
    <div class="md-toolbar-tools">
        <md-button hide-gt-sm class="md-icon-button" ng-click="toggleSidenav()">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <h1 class="justify-self-center">
            Survey
        </h1>
    </div>
</md-toolbar>
<div ng-include="'../views/settingsFab.html'"></div>
<md-content class="fill-height">
    <md-tabs class="fill-height">
        <md-tab label="Create survey" class="fill">
            <md-tab-content layout="column">
                <form name="createSurveyForm">
                    <md-card>
                        <md-toolbar md-theme="grey-variant" class="md-hue-2">
                            <div class="md-toolbar-tools">
                                <h2 class="justify-self-center">
                                    Select candidates for the job
                                </h2>
                            </div>
                        </md-toolbar>
                        <md-card-content>
                            <div layout="row">
                                <md-input-container flex-gt-sm="30" class="searchCandidates">
                                    <md-icon md-svg-src="../img/search.svg" class="email"></md-icon>
                                    <input ng-model="search" type="text" placeholder="Search Candidates" class="clearXinIE">
                                </md-input-container>

                                <md-input-container class="selectAllCandidates">
                                    <md-checkbox ng-model="selectedAll" ng-change="checkAll(filteredCandidates)"> Select All</md-checkbox>
                                </md-input-container>
                            </div>
                            <div layout="row">
                                <div class="fill-width">
                                    <md-content layout="row" layout-wrap layout-align="start center">
                                        <md-list-item class="md-2-line candidate-list-item" ng-repeat="candidate in (filteredCandidates = (candidates | filter:search))">
                                            <md-input-container>
                                                <md-checkbox ng-model="selectedtestOptions.candidateIds[candidate.Id]"></md-checkbox>
                                            </md-input-container>
                                            <img ng-src="../img/accountGrey.svg" class="md-avatar" alt="{{candidate.FirstName}}" />
                                            <div class="md-list-item-text" layout="column">
                                                <h3>{{candidate.FirstName}} {{candidate.LastName}}</h3>
                                                <h4>{{candidate.Email}}</h4>
                                            </div>
                                        </md-list-item>
                                    </md-content>
                                </div>
                            </div>

                            <br />
                            <br />
                            <br />
                            <md-button ng-disabled="!hasSelectedAtleastOneCandidate" type="submit" class="md-primary md-hue-2 md-raised" ng-click="createSurveyForm.$valid && generateSurvey()">
                                Generate survey for selected candidates
                            </md-button>

                        </md-card-content>
                    </md-card>
                </form>
            </md-tab-content>
        </md-tab>
        <md-tab label="View survey results">
            <md-tab-content>
                <div layout="row">
                    <md-card ng-repeat="survey in allSurveys" layout="row" layout-wrap>
                        <md-card-content>
                            <div>
                                <h4></h4>
                                <h4>Candidate name : {{survey.Candidate.FirstName}} {{survey.Candidate.LastName}}</h4>
                                <h4>Candidate email : {{survey.Candidate.Email}}</h4>
                                <h4><b>Survey status : {{survey.IsFinished ? "Completed" : "Pending"}}</b></h4>
                            </div>

                        </md-card-content>
                    </md-card>
                </div>
            </md-tab-content>
        </md-tab>
    </md-tabs>

</md-content>

<div style="visibility: hidden">
    <div class="md-dialog-container" id="uploadStatusModal">
        <md-dialog>
            <md-progress-circular md-mode="indeterminate" class="md-primary justify-self-center"></md-progress-circular>
        </md-dialog>
    </div>
</div>