
<script type="text/javascript">
    $(function () {

        $(document).ready(function () {

            // Build the chart
            $('#container1').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Candidates by Locations'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    name: 'Locations',
                    colorByPoint: true,
                    data: [{
                        name: 'Bangalore',
                        y: 56.33
                    }, {
                        name: 'Hyderabad',
                        y: 24.03,
                        sliced: true
                    }, {
                        name: 'Chennai',
                        y: 10.38
                    }, {
                        name: 'Mumbai',
                        y: 4.77
                    }, {
                        name: 'Delhi',
                        y: 0.91
                    }, {
                        name: 'Others',
                        y: 0.2
                    }]
                }]
            });
        });
    });

    $(function () {

        $(document).ready(function () {

            // Build the chart
            $('#container2').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Candidates by Branch'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    name: 'Branch',
                    colorByPoint: true,
                    data: [{
                        name: 'Mechanical',
                        y: 36.33
                    }, {
                        name: 'Metallurgy',
                        y: 34.03,
                        sliced: true
                    }, {
                        name: 'Chemical',
                        y: 16.38
                    }, {
                        name: 'Computer science',
                        y: 8.77
                    }, {
                        name: 'Electronics',
                        y: 0.91
                    }, {
                        name: 'Others',
                        y: 0.2
                    }]
                }]
            });
        });
    });

    $(function () {
        // Create the chart
        $('#container3').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Tests given for each team'
            },
            subtitle: {
                text: 'Click the columns to view drilldown by month'
            },
            xAxis: {
                type: 'category'
            },
            yAxis: {
                title: {
                    text: 'Total number of tests'
                }

            },
            legend: {
                enabled: false
            },
            plotOptions: {
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        format: '{point.y:.1f}%'
                    }
                }
            },

            tooltip: {
                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
            },

            series: [{
                name: 'Teams',
                colorByPoint: true,
                data: [{
                    name: 'Retail',
                    y: 56.33,
                    drilldown: 'Retail'
                }, {
                    name: 'Insurance',
                    y: 24.03,
                    drilldown: 'Insurance'
                }, {
                    name: 'Media',
                    y: 10.38,
                    drilldown: 'Media'
                }, {
                    name: 'Bot',
                    y: 4.77,
                    drilldown: 'Bot'
                }, {
                    name: 'Checkout',
                    y: 0.91,
                    drilldown: 'Checkout'
                }, {
                    name: 'Others',
                    y: 0.2,
                    drilldown: null
                }]
            }],
            drilldown: {
                series: [{
                    name: 'Retail',
                    id: 'Retail',
                    data: [
                        [
                            'Jan',
                            24.13
                        ],
                        [
                            'Feb',
                            17.2
                        ],
                        [
                            'Mar',
                            8.11
                        ],
                        [
                            'Apr',
                            5.33
                        ],
                        [
                            'May',
                            1.06
                        ],
                        [
                            'Jun',
                            0.5
                        ]
                    ]
                }, {
                    name: 'Insurance',
                    id: 'Insurance',
                    data: [
                        [
                            'Jan',
                            5
                        ],
                        [
                            'Feb',
                            4.32
                        ],
                        [
                            'Mar',
                            3.68
                        ],
                        [
                            'Apr',
                            2.96
                        ],
                        [
                            'May',
                            2.53
                        ],
                        [
                            'Jun',
                            1.45
                        ],
                        [
                            'Jul',
                            1.24
                        ],
                        [
                            'Aug',
                            0.85
                        ],
                        [
                            'Sep',
                            0.6
                        ],
                        [
                            'Oct',
                            0.55
                        ],
                        [
                            'Nov',
                            0.38
                        ],
                        [
                            'Dec',
                            0.19
                        ]
                    ]
                }, {
                    name: 'Media',
                    id: 'Media',
                    data: [
                        [
                            'Jan',
                            2.76
                        ],
                        [
                            'Feb',
                            2.32
                        ],
                        [
                            'Mar',
                            2.31
                        ],
                        [
                            'Apr',
                            1.27
                        ],
                        [
                            'May',
                            1.02
                        ],
                        [
                            'Jun',
                            0.33
                        ],
                        [
                            'Jul',
                            0.22
                        ],
                        [
                            'Aug',
                            0.15
                        ]
                    ]
                }, {
                    name: 'Bot',
                    id: 'Bot',
                    data: [
                        [
                            'Jan',
                            2.56
                        ],
                        [
                            'Feb',
                            0.77
                        ],
                        [
                            'Mar',
                            0.42
                        ],
                        [
                            'Apr',
                            0.3
                        ],
                        [
                            'May',
                            0.29
                        ],
                        [
                            'Jun',
                            0.26
                        ],
                        [
                            'Jul',
                            0.17
                        ]
                    ]
                }, {
                    name: 'Checkout',
                    id: 'Checkout',
                    data: [
                        [
                            'Jan',
                            0.34
                        ],
                        [
                            'Feb',
                            0.24
                        ],
                        [
                            'Mar',
                            0.17
                        ],
                        [
                            'Apr',
                            0.16
                        ]
                    ]
                }]
            }
        });
    });
</script>

<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button hide-gt-sm class="md-icon-button">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <h1>
            Dashboard
        </h1>
    </div>
</md-toolbar>

<md-content layout="column" flex>
    <md-content layout="row" flex="50">
        <md-card flex="50" id="container1">
        </md-card>
        <md-card flex="50" id="container2">
        </md-card>
    </md-content>
    <md-card flex="50" id="container3">
    </md-card>
</md-content>

