<div>
    <h1>Edit Test Page</h1>

    <div class="panel panel-default">
        <div class="panel-heading">

        </div>

        <div class="panel-body">

            <div class="form-group">
                <label> Select a test : </label>
                <div class="btn-group">
                    <button type="button" data-toggle="dropdown" class="btn btn-danger dropdown-toggle">{{selectedItem}} <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="test in tests"><a href="" ng-click="changeTestName($event)">{{test.name}}</a></li>
                    </ul>
                </div>
            </div>

            <div>

            </div>

        </div>

        <div class="panel-footer">
            <button class="btn btn-success" ng-click="saveChanges()">Save Changes</button>
        </div>
    </div>

</div>    