<div>
    <h1>Edit Test Page</h1>

    <div class="panel panel-default">
        <div class="panel-heading">

        </div>

        <div class="panel-body">

            <div class="form-group">
                <label> Select a test : </label>
                <div class="btn-group">
                    <button type="button" data-toggle="dropdown" class="btn btn-danger dropdown-toggle">{{selectedItem}} <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="test in tests"><a href="" ng-click="changeTestName($event)">{{test.name}}</a></li>
                    </ul>
                </div>
            </div>

            <div class="panel-group" id="accordion">
                <div class="panel panel-default previewQuestion" ng-repeat="question in testData.Questions">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#question{{question.Id}}">
                                {{question.Text}}
                            </a>
                        </h4>
                    </div>
                    <div id="question{{question.Id}}" class="panel-collapse collapse">
                        <div class="panel-body previewOptionList">
                            <div>
                                <div class="checkbox" ng-repeat="option in question.Options">
                                    <input id="{{option.Id}}" type="checkbox" value="{{option.Text}}"
                                           ng-checked="option.IsAnswer"
                                           ng-click="toggleSelection(option.Text)" />

                                    <label for="{{option.Id}}">
                                        <span></span>{{option.Text}}
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </div>

        <div class="panel-footer">
            <button class="btn btn-success" ng-click="saveChanges()">Save Changes</button>
        </div>
    </div>

</div>    