<div layout="column" flex>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button hide-gt-sm class="md-icon-button">
                <md-icon md-svg-src="../img/menu.svg"></md-icon>
            </md-button>
            <h1 class="justify-self-center">
                Recruitment test
            </h1>
        </div>
    </md-toolbar>
    <div ng-include="'../views/settingsFab.html'"></div>
    <md-content flex layout-align="center start">
        <div layout="column">
            <div layout="row">
                <md-card md-theme="dark-grey" md-theme-watch>
                    <md-card-content>
                        <h2>
                            Welcome to Quantium !! Please read the instructions before proceeding to take the test
                        </h2>
                    </md-card-content>
                </md-card>
            </div>
            <div layout="row">
                <md-card flex>
                    <md-card-content>
                        <div layout="column">
                            <md-list class="no-pointer ">
                                <md-subheader class="md-no-sticky text-align-center instructions">Instructions</md-subheader>
                                <md-list-item class="md-3-line" ng-click="null">
                                    <div class="md-list-item-text" layout="column">
                                        <ul>
                                            <li>You can view the number of questions and total time for test one left side of the page</li>
                                            <li>Each question will have a different timer</li>
                                            <li>You have to answer the question before the timer runs out</li>
                                            <li><b>Do not click 'FINISH TEST' unless you want complete the test</b></li>
                                            <li><b>You can LOGOUT and resume the test from the next question if you want to take a break</b></li>
                                            <li><b>If you LOGOUT, the current question will be marked as Answered along with the options you selected</b></li>
                                            <li><b>If you LOGOUT, the current question will not be visible the next time you login</b></li>
                                            <li>Questions can be from various domains</li>
                                            <li>You cannot view the previous questions once you go to the next question</li>
                                            <li>There could be multiple answers for each question</li>
                                        </ul>
                                    </div>
                                </md-list-item>
                            </md-list>
                            <div layout="row" layout-align="center">
                                <md-button class="md-accent md-raised justify-center" ui-sref="test">Take test</md-button>
                            </div>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </md-content>
</div>

