<md-fab-speed-dial md-direction="down" md-open="isOpen"
                   class="md-scale md-fab-top-right" ng-class="md-hover-full"
                   ng-mouseenter="isOpen=true" ng-mouseleave="isOpen=false">
    <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-accent">
            <md-tooltip md-direction="top" md-visible="tooltipVisible">User</md-tooltip>
            <md-icon class="s34" md-svg-icon="account"></md-icon>
        </md-button>
    </md-fab-trigger>

    <md-fab-actions>
        <div>
            <md-button type="submit" class="md-fab md-raised md-mini" href="/Candidate/LogOff" ng-click="logout()">
                <md-tooltip md-direction="down" md-visible="tooltipVisible" md-autohide="false">
                    Logout
                </md-tooltip>
                <md-icon md-svg-icon="signoff"></md-icon>
            </md-button>
        </div>
    </md-fab-actions>
</md-fab-speed-dial>

