
<hr class="tagline-divider">
<h2 class="brand-before">
    <small>Super Admin Home</small>
</h2>
<hr class="tagline-divider">

<div class="tileContainer">

    <div class="tile" ui-sref="uploadQuestions">
        <div class="tile-content"><i class="fa fa-camera-retro fa-5x one"></i><br /><h4> Upload Questions</h4></div>
        <div class="tile-overlay left">
        </div>
    </div>

    <div class="tile" ui-sref="createTest">
        <div class="tile-content"><i class="fa fa-camera-retro fa-5x"></i><br /><h4>Create Test</h4></div>
        <div class="tile-overlay left">
        </div>
    </div>

    <div class="tile" ui-sref="editTest">
        <div class="tile-content"><i class="fa fa-bolt fa-5x two"></i><br /><h4>Edit Test</h4></div>
        <div class="tile-overlay left">
        </div>
    </div>

    <div class="tile" ui-sref="sendTest">
        <div class="tile-content"><i class="fa fa-bullhorn fa-5x three"></i><br /><h4>Send Test</h4></div>
        <div class="tile-overlay left">
        </div>
    </div>

    <div class="tile" ui-sref="addTeamAdmin">
        <div class="tile-content"><i class="fa fa-user-secret fa-5x four"></i><br /><h4>Add Admin</h4></div>
        <div class="tile-overlay left">
        </div>
    </div>

    <div class="tile" ui-sref="addCandidates">
        <div class="tile-content"><i class="fa fa-user-plus fa-5x five"></i><br /><h4>Add Candidates</h4></div>
        <div class="tile-overlay left">
        </div>
    </div>

    <div class="tile" ui-sref="addCandidates">
        <div class="tile-content"><i class="fa fa-warning fa-5x six"></i><br /><h4>Dashboard</h4></div>
        <div class="tile-overlay left">
        </div>
    </div>

    <div class="tile" ui-sref="test">
        <div class="tile-content"><i class="fa fa-blind fa-5x seven"></i><br /><h4>Take test</h4></div>
        <div class="tile-overlay left">
        </div>
    </div>

    <div class="tile" ui-sref="createJob">
        <div class="tile-content"><i class="fa fa-hand-peace-o fa-5x seven"></i><br /><h4>Create Job</h4></div>
        <div class="tile-overlay left">
        </div>
    </div>

</div>
