
<div class="fillHeight">
    <div class="fillHeight panel panel-default flex-col">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-7">
                    <br /><br />
                    <h3 class="inline-block-display">Question - {{questionId}} </h3>
                    <h3 class="inline-block-display"> / Remaining - {{questionId}}</h3>
                    <br /><br />
                </div>
                <div class="col-md-5">
                    <div class="clockContainer">
                        <div class="clock"></div>
                    </div>
                </div>

            </div>
        </div>
        <div class="panel-body flex-fill">
            <div class="container">
                <div class="form-group pull-left test-panel-body">
                    <label class="control-label">{{question}}</label>
                    <br />
                    <div class="text-left">
                        <div class="checkbox" ng-repeat="option in options">

                            <input id="{{option.optionId}}" type="checkbox" value="{{option.optionText}}"
                                    ng-checked="selection.indexOf(option.optionText) > -1"
                                    ng-click="toggleSelection(option.optionId)" />

                            <label for="{{option.optionId}}">
                                <span></span><i>{{option.optionText}}</i>
                            </label>
                        </div>

                        <!--<ul>
                            <li ng-repeat="item in selection"><h3>{{item}}</h3></li>
                        </ul>-->
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer flex">
            <button class="btn redButton flex-start" ng-click="postQuestion()">Next Question &nbsp;<i class="fa fa-chevron-right"></i></button>
            <span class="fill-space"></span>
            <button class="btn greyButton flex-end">Finish Test</button>
        </div>
    </div>

</div>