<div layout="vertical">
    <md-sidenav class="md-sidenav-left"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-sm')"
                md-whiteframe="4">
        <md-toolbar class="md-cyan-theme">
            <h1>Questions</h1>
        </md-toolbar>
        <md-content>

        </md-content>
    </md-sidenav>
</div>
<div layout="column" flex>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button hide-gt-sm class="md-icon-button">
                <md-icon md-svg-src="../img/menu.svg"></md-icon>
            </md-button>
            <h1 class="justify-self-center">
                Recruitment test
            </h1>
        </div>
    </md-toolbar>
    <md-content>
        <md-card>
            <md-card-content>
                <div  layout="column" flex>
                    <h3 class="inline-block-display">Question - {{questionId}} </h3>
                    <h3 class="inline-block-display"> / Remaining - {{questionId}}</h3>
                    <div class="clockContainer">
                        <div class="clock"></div>
                    </div>

                    <div class="container">
                        <div class="form-group pull-left test-panel-body">
                            <label class="control-label">{{question}}</label>
                            <br />
                            <div class="text-left">
                                <div class="checkbox" ng-repeat="option in options">
                                    <md-input-container class="createJobCheckbox">
                                        <md-checkbox ng-model="selectedQuestionOptions.optionIds[option.Id]">
                                            {{option.Text}}
                                        </md-checkbox>
                                    </md-input-container>
                                </div>

                                <ul>
                                    <li ng-repeat="item in selection"><h3>{{item}}</h3></li>
                                </ul>

                            </div>
                        </div>
                    </div>

                    <button class="btn redButton flex-start" ng-click="postChallenge()">Next Question &nbsp;<i class="fa fa-chevron-right"></i></button>
                    <button class="btn greyButton flex-end">Finish Test</button>
                </div>
            </md-card-content>
        </md-card>
    </md-content>
</div>
