<md-toolbar class="md-primary md-hue-2">
    <div class="md-toolbar-tools">
        <md-button hide-gt-sm class="md-icon-button" ng-click="toggleSidenav()">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <h1 class="justify-self-center">
            Test information - {{test.Candidate.FirstName}} {{test.Candidate.LastName}}
        </h1>
    </div>
</md-toolbar>
<div ng-include="'../views/settingsFab.html'"></div>
<div layout="column" class="fill-height">
    <md-content>
        <div layout="row" layout-wrap>
            <md-card flex-gt-sm="30">
                <md-toolbar md-theme="grey-variant" class="md-hue-2">
                    <div class="md-toolbar-tools">
                        <h5 class="justify-self-center">
                            Candidate Information
                        </h5>
                    </div>
                </md-toolbar>
                <md-card-content class="test-result-info">
                    <h4><i class="fa fa-user fa-lg"></i><span><b> Name : </b>{{test.Candidate.FirstName}} {{test.Candidate.LastName}}</span></h4>
                    <h4><i class="fa fa-user fa-lg"></i><span><b> Email : </b>{{test.Candidate.Email}}</span></h4>
                    <h4><i class="fa fa-user fa-lg"></i><span><b> Mobile: </b>{{test.Candidate.Mobile}}</span></h4>
                    <h4><i class="fa fa-user fa-lg"></i><span><b> City : </b>{{test.Candidate.City}}</span></h4>
                    <h4><i class="fa fa-user fa-lg"></i><span><b> State : </b>{{test.Candidate.State}}</span></h4>
                    <h4><i class="fa fa-user fa-lg"></i><span><b> Country: </b>{{test.Candidate.Country}}</span></h4>
                </md-card-content>
            </md-card>

            <md-card flex>
                <md-toolbar md-theme="grey-variant" class="md-hue-2">
                    <div class="md-toolbar-tools">
                        <h5 class="justify-self-center">
                            Education & Experience
                        </h5>
                    </div>
                </md-toolbar>
                <md-card-content>
                    <h4><i class="fa fa-bank fa-lg"></i><b> Branch : </b>{{test.Candidate.Branch}}</h4>

                    <h4 class="inline-block-display margin-top-bottom-0"><i class="fa fa-bank fa-lg"></i><b> College : </b></h4>
                    <h4 class="inline-block-display margin-top-bottom-0"> {{test.Candidate.College}}</h4>

                    <h4><i class="fa fa-bank fa-lg"></i><b> Passing Year : </b>{{test.Candidate.PassingYear}}</h4>
                    <h4><i class="fa fa-bank fa-lg"></i><b> CGPA : </b>{{test.Candidate.CGPA}}</h4>
                    <h4><i class="fa fa-bank fa-lg"></i><b> Experience : </b>{{test.Candidate.ExperienceInYears}} years</h4>

                    <h4 class="inline-block-display margin-top-bottom-0"><i class="fa fa-bank fa-lg"></i><b> Current company : </b></h4>
                    <h4 class="inline-block-display margin-top-bottom-0"> {{test.Candidate.CurrentCompany}}</h4>

                </md-card-content>
            </md-card>

            <md-card flex-gt-sm="30">
                <md-toolbar md-theme="grey-variant" class="md-hue-2">
                    <div class="md-toolbar-tools">
                        <h5 class="justify-self-center">
                            Test Details
                        </h5>
                    </div>
                </md-toolbar>
                <md-card-content>
                    <h4><i class="fa fa-info-circle fa-lg"></i><b> Job applied for: </b>{{test.Job.Title}}</h4>
                    <h4><i class="fa fa-info-circle fa-lg"></i><b> Test Finished on : </b>{{test.FinishedDate | date}}</h4>
                    <h4><i class="fa fa-info-circle fa-lg"></i><b> Total Questions displayed : </b>{{test.Challenges.length}} </h4>
                    <h4><i class="fa fa-info-circle fa-lg"></i><b> Total Questions answered : </b>{{test.TotalChallengesAnswered}}</h4>
                    <h4><i class="fa fa-info-circle fa-lg"></i><b> Total right answers : </b>{{test.TotalRightAnswers}}</b></h4>
                    <h4><i class="fa fa-info-circle fa-lg"></i><b> Test result : </b><span ng-class="test.IsTestPassed === false ? 'red-color' : 'green-color'">{{test.IsTestPassed === false ? 'Failed' : 'Passed'}}</span></h4>
                </md-card-content>
            </md-card>
        </div>
        <div>
            <md-content>
                <md-toolbar md-theme="deep-orange" class="md-hue-2">
                    <div class="md-toolbar-tools">
                        <h1 class="justify-self-center">
                            Questions displayed to candidate
                        </h1>
                        <!--<md-button class="md-icon-button">
                            <md-icon md-svg-icon="print"></md-icon>
                        </md-button>-->
                    </div>
                </md-toolbar>
                <md-card-content  class="finishedTestQuestions" id="finishedTestQuestionsDisplay">
                    
                    <div ng-repeat="challenge in test.Challenges">
                        <md-card>
                            <md-card-content>
                                <md-chips>
                                    <md-chip>
                                        Label : {{challenge.Question.Label.Name}}
                                    </md-chip>
                                    <md-chip>
                                        Difficulty: {{challenge.Question.Difficulty.Name}}
                                    </md-chip>
                                </md-chips>
                                <h4 ng-if="challenge.Question.QuestionGroup.Description"><i class="fa fa-star"></i>&nbsp; <span ng-bind-html="challenge.Question.QuestionGroup.Description"></span></h4>
                                <h4><i class="fa fa-star"></i>&nbsp; <span ng-bind-html="challenge.Question.Text"></span></h4>
                                <div ng-if="challenge.Question.ImageUrl.length > 0">
                                    <img ng-src="{{challenge.Question.ImageUrl}}" class="imagePreview" />
                                </div>
                                
                                <div ng-repeat="option in challenge.Question.Options">
                                    <md-chips>
                                        <md-chip ng-show="option.IsAnswer">Right Answer</md-chip>
                                        <md-chip ng-show="hasCandidateSelected(option, challenge)">CandidateSelected</md-chip>
                                    </md-chips>
                                    <h4 class="finishedTestQuestionOption" ng-class="{'green-color': option.IsAnswer,'blue-color': option.IsCandidateSelected ,'red-color': hasCandidateSelected(option, challenge)}"><i class="fa fa-caret-right"></i>{{option.Text}}- {{option.IsAnswer}}</h4>
                                </div>
                            </md-card-content>
                        </md-card>
                    </div>
                </md-card-content>
            </md-content>
        </div>
    </md-content>

</div>