<md-content flex layout="column" class="time-up-template">
    <md-toolbar class="md-primary md-hue-2">
        <div class="md-toolbar-tools">
            <md-button hide-gt-sm class="md-icon-button">
                <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
            <h1>
                OOPS !!! Time up
            </h1>
        </div>
    </md-toolbar>
    <br />
    <h3 ng-hide="remainingChallenges === 0" class="justify-self-center">You could either logout and resume the test later or move on to next question</h3>
    <h3 ng-show="remainingChallenges === 0" class="justify-self-center">You could either logout or go to home page</h3>
    <div flex>
        <img src="../img/timer.svg" class="timeUpImage justify-self-center" />
    </div>
    <div layout="row">
        <md-button class="md-primary md-raised createJobButton" ng-click="nextQuestion()" ng-hide="remainingChallenges === 0">Next Question</md-button>
        <md-button class="md-primary md-raised createJobButton" ui-sref="candidateHome" ng-show="remainingChallenges === 0">My Home</md-button>
        <md-button type="submit" class="md-accent md-raised createJobButton justify-right" href="/Candidate/LogOff">Logout</md-button>
    </div>
</md-content>
