<md-toolbar class="md-primary md-hue-2">
    <div class="md-toolbar-tools">
        <md-button hide-gt-sm class="md-icon-button" ng-click="toggleSidenav()">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <h1 class="justify-self-center">
            Questions
        </h1>
    </div>
</md-toolbar>
<div ng-include="'../views/settingsFab.html'"></div>
<md-content flex layout="column">
    <md-tabs class="fill-height">
        <md-tab label="Upload Questions">
            <md-tab-content>
                <md-card flex>
                    <md-card-content>
                        <md-button class="md-primary md-raised" href="/QuestionsTemplate.xlsx">Download Bulk Upload Template</md-button>
                        <br /><br /><br /><br />
                        <h2 class="fileUpload">Upload questions .xlsx file:</h2>
                        <lf-ng-md-file-input accept=".xlsx" lf-files="files01" lf-api="api01" class="fileUpload" flex-gt-sm="50"></lf-ng-md-file-input>
                        <br /><br />
                        <md-button ng-disabled="files01.length > 0 ? false : true" class="md-accent md-raised" ng-click="previewQuestions()">
                            Preview Questions
                        </md-button>

                        <md-button ng-disabled="files01.length > 0 ? false : true" class="md-primary md-raised" ng-click="saveChanges()">Save Changes</md-button>
                    </md-card-content>
                </md-card>
            </md-tab-content>
        </md-tab>
        <md-tab label="View Questions">
            <md-card ng-repeat="question in allQuestions">
                <md-card-content class="overflow-hidden">
                    <md-chips>
                        <md-chip>
                            Time for Question - {{question.TimeInSeconds}} seconds
                        </md-chip>
                        <md-chip>
                            Label : {{question.Label.Name}}
                        </md-chip>
                        <md-chip>
                            Difficulty : {{question.Difficulty.Name}}
                        </md-chip>
                        <md-chip>
                            Randomize Options : {{question.RandomizeOptions}}
                        </md-chip>
                    </md-chips>
                    <h3 ng-show="question.QuestionGroup.Description.length > 0"><b>Question Group : </b> {{question.QuestionGroup.Description}}</h3>
                    <h3>{{question.Id}}. {{question.Text}}</h3>
                    
                    <div ng-if="question.ImageUrl.length > 0">
                        <img ng-src="{{question.ImageUrl}}" class="imagePreview" />
                    </div>
                    <div class="previewOptionList">
                        <ul>
                            <li ng-repeat="option in question.Options"><i ng-class="option.IsAnswer ? 'fa fa-check-square': 'fa fa-square-o'"></i><span class="margin-left-10">{{option.Text}}</span></li>
                        </ul>
                    </div>
                </md-card-content>
            </md-card>
        </md-tab>

        
    </md-tabs>
</md-content>

<div style="visibility: hidden">
    <div class="md-dialog-container" id="myModal">
        <md-dialog flex-gt-sm="50">
            <md-toolbar md-theme="grey-variant" class="md-hue-2">
                <div class="md-toolbar-tools">
                    <h5 class="justify-self-center">
                        Your uploaded questions
                    </h5>
                </div>
            </md-toolbar>
            <div class="fill-height">
                <p ng-hide="previewQuestionModels.length > 0">No questions uploaded yet</p>
                <div class="previewQuestion" ng-repeat="previewQuestionModel in previewQuestionModels">
                    <md-content>
                        <md-card>
                            <md-card-content class="overflow-hidden">
                                <h3 ng-show="previewQuestionModel.QuestionGroup.Description.length > 0 "><b>Question Group :</b> {{previewQuestionModel.QuestionGroup.Description}}</h3>
                                <h3>{{previewQuestionModel.Id}}. {{previewQuestionModel.Text}}</h3>
                                <md-chips>
                                    <md-chip>
                                        Time for Question - {{previewQuestionModel.TimeInSeconds}} seconds
                                    </md-chip>
                                    <md-chip>
                                        Label : {{previewQuestionModel.Label.Name}}
                                    </md-chip>
                                    <md-chip>
                                        Difficulty : {{previewQuestionModel.Difficulty.Name}}
                                    </md-chip>
                                    <md-chip>
                                        Randomize Options : {{previewQuestionModel.RandomizeOptions}}
                                    </md-chip>
                                </md-chips>
                                
                                <div ng-if="previewQuestionModel.ImageUrl.length > 0">
                                    <img ng-src="{{previewQuestionModel.ImageUrl}}" class="imagePreview"/>
                                </div>
                                <div class="previewOptionList">
                                    <ul>
                                        <li ng-repeat="option in previewQuestionModel.Options"><i ng-class="option.IsAnswer ? 'fa fa-check-square': 'fa fa-square-o'"></i>{{option.Text}}</li>
                                    </ul>
                                </div>
                            </md-card-content>
                        </md-card>
                    </md-content>
                </div>
            </div>
        </md-dialog>
    </div>
</div>

<div style="visibility: hidden">
    <div class="md-dialog-container" id="uploadStatusModal">
        <md-dialog>
            <md-progress-circular md-mode="indeterminate" class="md-primary justify-self-center"></md-progress-circular>
        </md-dialog>
    </div>
</div>

