<div>
    <h1>Upload Questions page</h1>
    <md-content>
        <md-button class="md-raised md-primary" href="/QuestionTemplate.csv">Download Bulk Upload Template</md-button>
        
        <lf-ng-md-file-input lf-files="files01" lf-api="api01"></lf-ng-md-file-input>

        <md-button class="md-primary md-raised" ng-click="showPrerenderedDialog($event)">
            Preview Questions
        </md-button>

        <md-button class="md-primary md-raised" ng-click="saveChanges()">Save Changes</md-button>
        <h6>{{uploadStatus}}</h6>
    </md-content>

    <div style="visibility: hidden">
        <div class="md-dialog-container" id="myModal">
            <md-dialog layout-padding="">
                <h2>Your uploaded questions</h2>
                <div class="modal fade" role="dialog">
                    <div class="modal-dialog">
                            <div class="modal-header">
                                <h4 class="modal-title">Your uploaded questions can be found here bro</h4>
                            </div>
                            <div class="modal-body">
                                <p ng-hide="previewQuestionModels.length > 0">No questions uploaded yet</p>
                                <div class="previewQuestion" ng-repeat="previewQuestionModel in previewQuestionModels">
                                    <span>{{previewQuestionModel.Id}}.</span>
                                    <h5>{{previewQuestionModel.Text}}</h5>
                                    <h6>Time for Question - {{previewQuestionModel.TimeInSeconds}} seconds</h6>
                                    <h6>Label : {{previewQuestionModel.Label.Name}}</h6>
                                    <h6>Difficulty : {{previewQuestionModel.Difficulty.Name}}</h6>
                                    <h6>Randomize Options : {{previewQuestionModel.RandomizeOptions}}</h6>
                                    <h6>Question Group : {{previewQuestionModel.QuestionGroup.Description}}</h6>
                                    <div class="previewOptionList">
                                        <ul>
                                            <li ng-repeat="option in previewQuestionModel.Options"><i ng-class="option.IsAnswer ? 'fa fa-check-square': 'fa fa-square-o'"></i>{{option.Text}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                            </div>
                    </div>
                </div>
            </md-dialog>
        </div>
    </div>

