 <div class="test-information" [@visibility]='visibility'>
        <p class="admin-outlet-heading" style="margin-bottom: 0px"><span>Test</span><i class="fa fa-lg fa-chevron-left sidenav-close" (click)="toggleNavButton()" style="cursor: pointer"></i></p>
        <div class="admin-data-container" style="padding-right: 0px;box-sizing: border-box; overflow: auto">
            <div class="question-time-container" style="font-size: 0.8em;border-right: 1px solid lightgray;max-height: 0px">
                <div style="overflow: auto; padding-right: 10px;">
                    <div>
                        <p class=""><b>Total time : {{totalTestTime | number : '1.2-2'}} Minutes</b></p>
                        <p class=""><b>Remaining time : {{remainingTestTime | number : '1.2-2'}} Minutes</b></p>
                    </div>
                    <hr>
                    <div>
                        <div layout="row" class="remaining-questions">
                                <p><b>Question - {{currentChallengeNumber}} : Remaining - {{remainingChallenges}} </b></p>
                            </div>
                    </div>
                    <hr>
                    <div>
                        <div *ngFor="let challengeAnswered of challengesAnswered; let i = index">
                            <div class="">
                                <div>
                                    <span *ngIf="(i+1) < currentChallengeNumber" class="" style="display: flex;">
                                        Question-{{i +1}} - 
                                        <span *ngIf="!challengeAnswered">Not Answered</span>
                                        <span *ngIf="challengeAnswered">Answered</span>  
                                        <i [ngClass]="challengeAnswered ? 'fa fa-lg fa-check-square-o' : 'fa fa-lg fa-times-rectangle-o'" style="margin-left: auto"></i>

                                    </span>
                                    <span *ngIf="(i+1) == currentChallengeNumber" class=""  style="display: flex;">
                                        <b>Question-{{i +1}} - Current Question  <i class="fa fa-spinner fa-pulse" style="margin-left: auto"></i></b>
                                    </span>
                                    <span *ngIf="(i+1) > currentChallengeNumber" class="" style="display: flex;">
                                        Question-{{i +1}} - Locked  <i class="fa fa-lg fa-lock" style="margin-left: auto"></i>
                                    </span>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
           
            </div>
    </div>
</div>

<div class="router-outlet-container prevent-copy" oncontextmenu="return false">
    <p class="d-flex admin-outlet-heading" style="margin-bottom: 0px"><span style="padding-left: 15px"><i class="fa fa-bars fa-lg sidenav-close" (click)="toggleNavButton()" style="cursor: pointer; color: whitesmoke"></i></span> <span class="question-timer" style="text-align: center;margin-left: auto;margin-right: auto">Seconds left : {{ticks}}</span></p>
    <div class="admin-data-container" style="box-sizing: border-box; overflow: auto">
        <div class="" style="max-height: 0px">

            <div class="d-flex" style="flex: 1 1 auto; padding-left: 20px; overflow: auto">
                <div style="flex: 1 1 auto" [ngClass]="{'blur-question': isTimeUp}">
                    <div>
                        <p *ngIf="question?.QuestionGroup?.Description?.length > 0"><span [innerHTML]="question?.QuestionGroup?.Description"></span></p>
                        <p><b><span [innerHTML]="question?.Text"></span></b></p>
                        <div *ngIf="question?.ImageUrl?.length > 0">
                            <img [src]="question.ImageUrl" class="imagePreview" />
                        </div>
                        <div class="" style="margin-top: 20px">
                            <div *ngIf="!question?.IsRadio" >
                                <div *ngFor="let option of question?.Options; let i = index">
                                    <div style="display: flex; margin-bottom: 5px; justify-content: flex-start">
                                        <span style="margin-right: 5px; line-height: 17px">{{i + 1}} . </span>
                                        <input type="checkbox" [(ngModel)]="selectedCheckboxOptions[i]" style="flex: 0 0 30px"/>
                                        <span style="flex: 1 1 auto;margin-left: 5px; line-height: 17px" [innerHTML]="option.Text"></span>
                                    </div> 
                                </div> 
                            </div>
                            <div class="" *ngIf="question?.IsRadio">
                                <div *ngFor="let option of question?.Options; let i = index" style="display: flex; margin-bottom: 5px; justify-content: flex-start">
                                    <span style="margin-right: 5px; line-height: 17px">{{i + 1}} . </span>
                                    <input type="radio" [value]="option.Id" name="option.QuestionId" style="flex: 0 0 30px"
                                           [(ngModel)]="selectedRadioOption" />
                                    <span style="flex: 1 1 auto; margin-left: 5px; line-height: 17px" [innerHTML]="option.Text"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="question?.Text" style="margin-top: 50px; margin-bottom: 15px;display: flex; justify-content: space-between" class="test-submit-buttons">
                        <button type="button" class="btn" (click)="fillAndPostChallenge()" *ngIf="remainingChallenges !== 0">Submit & go to next question</button>
                        <button type="button" class="btn red" (click)="showFinishTestConfirm()">Finish Test</button>
                    </div>
                </div>
                
            </div>
        
        </div>
    </div>
</div>


<div bsModal #confirmation="bs-modal" class="modal fade" tabindex="-1" role="dialog" [config]="{backdrop: 'static', ignoreBackdropClick: true, keyboard: false}">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
                <h5 class="modal-title">Are you sure ?</h5>
      </div>
      <div class="modal-body">
            This action cannot be reversed. Your test will end.
      </div>
      <div class="modal-footer">
            <button type="button" class="close" (click)="finishAllChallenges()">
                    YES
            </button>
            <button type="button" class="close" (click)="confirmation.hide()">
                    NO
            </button>
        </div>
    </div>
  </div>
</div>

<div bsModal #progress="bs-modal" class="modal fade" tabindex="-1" role="dialog" [config]="{backdrop: 'static', ignoreBackdropClick: true, keyboard: false}">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
                <h5 class="modal-title">Retreiving next question</h5>
        </div>
      
      <div class="modal-footer" style="justify-content: center">
                <span class="fa fa-spinner fa-spin fa-3x"></span>
        </div>
    </div>
  </div>
</div>

 <div bsModal #timeUp="bs-modal" class="modal fade" tabindex="-1" role="dialog" [config]="{backdrop: 'static', ignoreBackdropClick: true, keyboard: false}">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
                <h5 class="modal-title">Time Up !!</h5>
      </div>
      <div class="modal-body">
          <div style="display: flex; flex-direction: column">
            <span *ngIf="remainingChallenges !== 0">Proceed to next question or logout and resume test from next question later.</span>
            <span *ngIf="remainingChallenges === 0" style="text-align: center">Your test is finished.</span>
            <i class="fa fa-clock-o fa-5x" style="text-align: center"></i>
          </div>
      </div>
        <div class="modal-footer">
            <button type="button" *ngIf="remainingChallenges !== 0" class="close" (click)="nextQuestion()">
                NEXT
            </button>
            <button type="button" *ngIf="remainingChallenges === 0" class="close" (click)="gotoFeedback()">
                FEEDBACK
            </button>
            <a href="/Account/Logout" class="close">
                LOGOUT
            </a>
        </div>
    </div>
  </div>
</div>