body,html{
    height: 100%;
    overflow: hidden;
}

body{
    background-size:cover;
}

router-outlet + div {
    display: flex;
    flex: 1 1 auto;
}

button:focus{
    outline: none;
}

input[type=checkbox] {
    height: 18px;
}
input[type="checkbox"]:focus{
    outline: none;
}
.flex-row{
    display: flex;
}
ul{
    list-style: none;
}
.nav-item{
    margin-right: 30px;
}

.tab.nav-item{
    margin-right: 60px;
}

.nav-link.active{
    border-bottom: 2px solid grey;
}

input{
    line-height: 30px !important;
}
select {
    height: 48px !important;
}
.btn{
    background-color: #353B47;
    border-color: #353B47;
    border-radius: 26px;
    color: whitesmoke;
    cursor: pointer;
    min-width: 120px;
}

.btn:hover{
    background-color: #646e82;
    border-color: #646e82;
    color: whitesmoke;
}

.btn.disabled {
    cursor: not-allowed;
    background-color: #646e82;
    border-color: #646e82;
}

.btn.disabled:hover {
    background-color: #646e82;
    border-color: #646e82;
}

.btn.light-gray{
    background-color: #D9D7D7;
    border-color: #D9D7D7;
    color: #2b2a2a;
}

.btn.light-gray:hover{
    background-color: #8c8989;
    border-color: #8c8989;
    color: whitesmoke;
}

.router-outlet-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}
.admin-data-container{
    overflow: auto;
    flex: 1 1 auto;
    background-color: white;
    padding: 35px;
    margin-top: 10px;
}

.admin-outlet-heading{
    font-size: 1.4em;
    color: whitesmoke;
}

.login-background {
    background-image: url('~/dist/assets/img/login.jpg');
}
.dashboard-background{
    background-image: url('~/dist/assets/img/dashboard.jpg');
}

.questions-tests-background{
     background-image: url('~/dist/assets/img/dashboard.jpg');
}

.jobs-addAdmin-background{
     background-image: url('~/dist/assets/img/dashboard.jpg');
}

.candidates-background{
     background-image: url('~/dist/assets/img/dashboard.jpg');
}

.highcharts-credits{
    display: none !important;
}

.flex-100{
    flex: 1 1 100%;
}

.flex-auto{
    flex: 1 1 auto;
}

.flex-50{
    flex: 1 1 50%;
}

}

