@model Quantium.Recruitment.Portal.Models.AccountViewModels.LoginViewModel

    <form name="loginForm" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]"
           method="post" class="loginForm" novalidate>
        <div asp-validation-summary="ModelOnly" class="text-danger text-align-center red-color"></div>
        <div layout="row" flex-gt-sm="50" class="justify-self-center">
            <div layout="column"  class="fill-width">
                <md-input-container>
                    <label>Email</label>
                    <input asp-for="Email" type="text" class="form-control" id="email" required name="email">
                    <div ng-messages="loginForm.email.$error">
                        <div ng-message="required">Email is required.</div>
                    </div>
                </md-input-container>

                <md-input-container md-no-float>
                    <input asp-for="Password" type="password" class="form-control" id="email" required name="password">
                    <label>Password</label>
                    <div ng-messages="loginForm.password.$error">
                        <div ng-message="required">Password is required.</div>
                    </div>
                </md-input-container>

                <md-button class="md-primary md-raised createJobButton" type="submit" ng-click="loginForm.$valid">
                    Login
                </md-button>
            </div>
        </div>
    </form>

