@model Portal.Server.ViewModels.AccountViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<style>
    .login-page-container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .login-container {
        flex: 0 1 auto;
        max-height: 700px;
        background: rgba(248, 240, 240, 0.91);
        min-height: 500px;
        display: flex;
        flex-direction: column;
    }
    .login-form{
        display: flex;
        justify-content:center;
        align-items: center;
    }

    @@media only screen and (min-height: 768px) {
        .quantium-white-logo {
            margin-bottom: 100px;
        }
    }

    @@media (max-height: 567px) {
        .quantium-white-logo {
            display: none;
        }
    }

</style>


<div class="login-page-container">
    <div class="row justify-content-center align-items-center" style="margin-top: 10px; margin-bottom: 10px">
        <div class="quantium-white-logo">
            <img src="~/dist/assets/img/quantium-white.svg" alt="Microsoft" style="height: 100px" />
        </div>
    </div>
    <div class="login-container col-lg-8 col-md-10">

        <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
            <h4 style="text-align:center; margin-top: 10px">@ViewData["Title"]</h4>
            <hr />
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="col-md-2 control-label"></label>
                        <div class="col-md-12">
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row justify-content-center align-items-center hidden-sm-down" style="margin-top: 50px; color: whitesmoke">
        <div>
            <h6 style="text-align:center"><i class="fa fa-copyright"></i>2017 Quantium</h6>
            <h6>wwww.quantium.com</h6>
        </div>
    </div>
</div>
    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }
