
@{
    ViewData["Title"] = "Restricted";
}

<style>
    .restricted-body{
        color: whitesmoke;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top : 40px;
    }
</style>
<div class="restricted-body">
    <div  class="restricted-content">
        <h4 style="text-align:center">@ViewBag.UserMessage</h4>
    </div>
    <div class="d-flex justify-content-center" style="margin-top: 30px">
        <a href="/" class="btn light-gray">Back</a>
    </div>
</div>

