<div class="" style="padding: 20px">
    <form novalidate #form="ngForm" (submit)="generateSurveys()">
        <div style="display: flex; min-height: 400px;">

            <div style="flex: 0 1 50%">
                <div class="flex-row">
                    <div class="form-group" [class.has-danger]="" style="flex: 0 1 30%">
                        <label class="form-control-label" for="search">Search candidates</label>
                        <input class="form-control" id="search" name="search" [(ngModel)]="search" type="text"
                               placeholder="Search Candidates" (ngModelChange)="filterCandidates(search)">
                    </div>
                    
                    <div class="flex-row" style="flex: 0 1 40%; margin-top: 42px; margin-left: 30px">
                        <input style="flex: 0 1 5%;margin-top: 5px;" #selectedAllTemplate="ngModel" id="job" name="job" [(ngModel)]="selectedAll"
                               type="checkbox" (ngModelChange)="checkAll(filteredCandidates)" />
                        <span style="margin-left: 5px;">Select all</span>
                    </div>
                </div>

                <div>
                    <div>
                        <div *ngFor="let candidate of filteredCandidates;let i=index">
                            <div class="flex-row" layout="">
                                <input style="flex: 0 1 5%;margin-top: 5px;" id="search{{i}}" name="search{{i}}"
                                       [(ngModel)]="selectedSurveyOptions.candidateIds[candidate.Id]" (ngModelChange)="updateSelectedCandidateCount()"
                                       type="checkbox" />
                                <p style="flex: 0 1 20%;">{{candidate.FirstName}} {{candidate.LastName}}</p>
                                <p style="flex: 0 1 20%;">{{candidate.Email}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="margin-top: auto">
                    <button type="submit" class="btn" [disabled]="form.invalid || (!hasSelectedAtleastOneCandidate)">Generate tests for selected candidates</button>
                </div>

            </div>
        </div>
    </form>
</div>

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Static modal</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                This is static modal, backdrop click will not close it.
                Click <b>&times;</b> to close modal.
            </div>
        </div>
    </div>
</div>