<div>
    <input type="text" value="" placeholder="job title" />

</div>
<button type="button" class="btn btn-primary" data-toggle="button" autocomplete="off">
    Create Survey
</button>
<div>
    Upload .xlsx file
</div>
<div>
    <button type="button" class="btn btn-primary" data-toggle="button" autocomplete="off">
        Browse
    </button>
    <button type="button" class="btn btn-primary light-gray" data-toggle="button" autocomplete="off">
        Preview
    </button>
    <button type="button" class="btn btn-primary light-grey" data-toggle="button" autocomplete="off">
        Save
    </button>
</div>