.job-container{
    margin-bottom: 30px;
}

.view-job-container{
    padding: 20px;
}

.label-container{
    padding: 20px;
    border: 1px solid lightgray;
    margin-right: 20px;
    width: 240px;
    margin-bottom: 20px;
}

.small-icon-btn{
    min-width: 40px;
}