<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Test Created</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body style="margin: 0; padding: 0; font-family :'Arial';">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
        <tr>
            <td align="left-side" bgcolor="#8c1c1c" style="padding: 20px 0 30px 20px;">
                <img src="cid:qlogo" alt="quantium" width="300" height="51" style="display: block;" />
            </td>
        </tr>
        <tr>
            <td>
                Dear Candidate ,
                <p>
                    Greetings.. !!
                </p>
                <p>
                    Thank you for your recent job application at Quantium
                </p>
                <p>
                    We have created an online test for you as part of our hiring process
                </p>
                <p />
                <p>
                    You can now use &lt;Message&gt; for <b>https://www.quantiumrecruitment.com</b>
                    to take the test
                </p>
                <p>
                    Good Luck ...
                </p>
                <p>
                    <b>
                        About
                        Quantium:
                    </b>
                </p>
                <p>
                    Quantium is an Australian,
                    globally recognised leader in the development of data-driven insights and
                    ideas. We provide insights into the rapidly changing needs and preferences of
                    consumers, and ideas about how brands can engage customers and what their
                    businesses should do to succeed.
                </p>
                <p>
                    Quite simply, using data, analytics and
                    technology, Quantium enables brands to create new and sustainable sources of
                    competitive advantage.
                </p>
                <p>
                    Quantium has enabled many of Australia’s most
                    progressive businesses to capitalise on the value of their own data, combined
                    with Quantium’s unique data assets, analytical skills and software development
                    capabilities, to create greater customer understanding and attraction.
                </p>
                <p>
                    Regards,<br />
                    Quantium Hiring Team
                </p>
                <p>
                    PS: In addition, the
                    following links will help you to know more about Quantium.<br />
                    <ul>
                        <li>
                            <a href="http://www.quantium.com.au/">http://www.quantium.com.au</a><br />
                        </li>
                        <li>
                            <a href="http://www.youtube.com/watch?v=am6bIDiSQkk">http://www.youtube.com/watch?v=am6bIDiSQkk</a><br />
                        </li>
                        <li>
                            <a href="http://www.facebook.com/QuantiumAustralia">http://www.facebook.com/QuantiumAustralia</a><br />
                        </li>
                        <li>
                            <a href="http://www.linkedin.com/company/750119">http://www.quantium.com.au</a><br />
                        </li>
                        <li>
                            <a href="http://www.linkedin.com/company/2666733">http://www.linkedin.com/company/2666733</a><br />
                        </li>
                    </ul>

                </p>
            </td>
        </tr>
    </table>
</body>
</html>