Hi,

Greetings !!

Thank you for your recent job application at Quantium.

We have created an account for you as part of our hiring process through which you will be taking online tests
for the position you applied for. You will receive a separate communication whenever a test is assigned to you.

Please logon to https://www.quantiumrecruitment.com with the below credentials when you receive an email with test details.

Username: <Username>


Password: <Password>



Use the below link if you want to unsubscribe from our emails.

https://www.quantiumrecruitment.com/candidate/unsubscribe?email=<candidateEmail>