<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <!--<script src="js/bundle.min.js"></script>-->
    <!--<script src="scripts/app.js"></script>
    <script src="scripts/router.js"></script>
    <script src="scripts/controllers/questionsController.js"></script>
    <script src="scripts/controllers/firstController.js"></script>
    <script src="scripts/controllers/secondController.js"></script>-->
    <script src="~/bootstrapper.js"></script>

</head>
<body>
    <p> This is from Layout page</p>
    <div>
        @RenderBody()
    </div>
</body>
</html>
