<!DOCTYPE html>

<html>
<head prefix="og: http://ogp.me/ns#">
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    @*<title>@ViewBag.Title</title>*@
    <link rel="icon" href="https://www.quantium.com/wp-content/themes/quantium/img/favicon.png">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>

    <script src="~/bootstrapper.js"></script>

    <link rel="stylesheet" type="text/css" href="~/css/site.css"/>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Quantium • Recruitment</title>
    <meta property="og:title" content="Quantium • Recruitment"/>
</head>
<body>
    <header class="">
        <h2>Quantium Recruitment</h2>
    </header>
    @*<div class="page-header"></div>*@
    <section class="container-fluid pageViewClass">
        @RenderBody()
    </section>
    <footer class="footerClass">
        <h6>&copy; 2016 Quantium</h6>
    </footer>
</body>
</html>
