<div style="padding: 20px;">
    <div *ngFor="let question of questions; let index=index">
            <div class="question-attributes d-flex">
                    <span><b>Time for question :</b> {{question.TimeInSeconds}} seconds</span>
                    <span><b>Label : </b>{{question.Label.Name}}</span>
                    <span><b> Difficulty : </b>{{question.Difficulty.Name}}</span>
                    <span> <b>Randomize Options :</b> {{question.RandomizeOptions}}</span>
                    <span tooltip="Delete question">
                        <button type="button"  class="btn small-icon-btn red" (click)="deleteQuestion(question.Id)"><i class="fa fa-lg fa-trash"></i></button>
                    </span>
            </div>
            <p *ngIf="question.QuestionGroup?.Description.length > 0"><span [innerHTML]="question.QuestionGroup.Description"></span></p>
            <div>
                    <b><p> {{index + 1}}. <span [innerHTML]="question.Text"></span></p></b>
                    
            </div>
            <div *ngIf="question.ImageUrl.length > 0">
                    <img [src]="question.ImageUrl" class="imagePreview" />
            </div>
            <div class="previewOptionList" *ngIf="!question.IsRadio">
                    <ul style="list-style: none">
                    <li *ngFor="let option of question.Options">
                            <p>
                                    <i [ngClass]="option.IsAnswer ? 'fa fa-square': 'fa fa-square-o'"></i>
                                    <span class="margin-left-10" [innerHTML]="option.Text"></span>
                            </p>
                    </li>
                    </ul>
            </div>
            <div class="previewOptionList" *ngIf="question.IsRadio">
                    <ul style="list-style: none">
                    <li *ngFor="let option of question.Options">
                            <p>
                                    <i [ngClass]="option.IsAnswer ? 'fa fa-circle': 'fa fa-circle-o'"></i>
                                    <span class="margin-left-10" [innerHTML]="option.Text"></span>
                            </p>
                    </li>
                    </ul>
            </div>
            <hr>
    </div>
</div>

<div bsModal #progress="bs-modal" class="modal fade" tabindex="-1" role="dialog" [config]="{backdrop: 'static', ignoreBackdropClick: true, keyboard: false}">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
                <h5 class="modal-title" style="width: 100%; text-align: center">{{modalResponse}}</h5>
        </div>
      
      <div class="modal-footer" style="justify-content: center">
                <span class="fa fa-spinner fa-spin fa-2x"  *ngIf="isRequestProcessing"></span>
                
                <button type="button" class="close"   *ngIf="!isRequestProcessing" (click)="closeModal()">
                       <span class="fa fa-times-circle-o fa-2x"></span>
                </button>
        </div>
    </div>
  </div>
</div>