nav{
    height: 75px;
    flex: 0 0 auto;
}

.navbar-brand{
    width: 180px;
}

#navbarContent{
    margin-top: 10px;
}

.q-user-icon{
    height: 20px;
}

.nav-item {
    .dropdown{
        cursor: pointer;
    }
}
.nav-item .active{
    border-bottom: 2px solid grey;
}

.admin-outlet{
    margin: 30px 50px 40px 50px;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.admin-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.highcharts-credits{
    display: none !important;
}
.highcharts-background{
    background-color: gray !important;
}


.dropdown-item.active, .dropdown-item:active{
    background-color: #9D0015;
}

@media (max-width: 991px) {
    #user-dropdown:before {
        left: 10px;
    }
    #user-dropdown:after {
        left: 4px;
    }
    #navbarContent {
        background-color: rgba(53, 59, 71, 0.98);
        position: fixed;
        height: 100%;
        width: 200px;
        left: 0px;
        top: 0px;
        padding: 20px;
        margin-top: 0px;
        z-index: 1020;

        .nav-item.dropdown div{
            border: 0px;

            ul{
                background-color: transparent;
                border: 0;
                left: 0;
                right: auto;
                li a:hover{
                    background-color: rgba(53, 59, 71, 0.96);;
                    color: white;
                }
            }
        }
        ul li a{
            color: whitesmoke;
            border: 0px;
            span{
                color: darkgray;
            }
            &.active{
                span{
                    color: white;
                    border-bottom: 2px solid gray !important;
                    padding-bottom: 5px;
                }
            }
            
        }
    }
}

