nav{
    height: 75px;
    flex: 0 0 auto;
}

.q-logo{
    width: 180px;
    margin-top: 5px;
}

.navbar-brand{
    width: 180px;
}

#navbarContent{
    margin-top: 10px;
}

.q-user-icon{
    height: 20px;
}

.nav-item {
    .dropdown{
        cursor: pointer;
    }
}
.nav-item .active{
    border-bottom: 2px solid grey;
}

.admin-outlet{
    margin: 30px 50px 40px 50px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}
.admin-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.highcharts-credits{
    display: none !important;
}
.highcharts-background{
    background-color: gray !important;
}


.dropdown-item.active, .dropdown-item:active{
    background-color: #9D0015;
}

@media (max-width: 991px) {
        #navbarContent{
            background-color: rgba(53, 59, 71, 0.98);
            position: fixed;
            height: 100%;
            width: 200px;
            left: 0px;
            top: 0px;
            padding: 20px;
            margin-top: 0px;
            z-index: 1020;

            .nav-item.dropdown div{
                border: 0px;

                ul{
                    background-color: transparent;
                    border: 0;

                    li a:hover{
                        background-color: rgba(53, 59, 71, 0.96);;
                        color: white;
                    }
                }
            }
            ul li a{
                color: whitesmoke;
                border: 0px;
                span{
                    color: darkgray;
                }
                &.active{
                    span{
                        color: white;
                        border-bottom: 2px solid gray !important;
                        padding-bottom: 5px;
                    }
                }
                
            }
        }
}

@media (min-width: 992px){
    #user-dropdown:before {
        content:"";
        position: absolute;
        right: 11px;
        top: -10px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent #8C3138 transparent;
        z-index:9999;
    }
    #user-dropdown:after {
        content:"";
        position: absolute;
        right: 4px;
        top: -22px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 17px 17px 17px;
        border-color: transparent transparent #ffffff transparent;
        z-index:9998;
    }

    #user-dropdown {
        border: 8px solid #fffefe;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
        float: left;
        position: absolute;
        margin: 0;
        top: 2.8em;
        width: 150px;
        z-index: 99999;
        margin-top: 23px;
    }
}