 <div class="router-outlet-container">
        <span class="admin-outlet-heading">INSTRUCTIONS</span>
        <div class="admin-data-container">
            <div class="d-flex" style="justify-content: center">
                <div class="col-md-10 col-lg-8">
            
                    <div class="d-flex flex-column">
                        <h5 style="text-align: center; margin-bottom: 20px">Please read the instructions before proceeding to take the test</h5>
                        <div>
                            <ul class="list-group">
                                <li class="list-group-item">You can view the number of questions on the left side of the page</li>
                                <li class="list-group-item">Each question will have a different timer</li>
                                <li class="list-group-item">You have to answer the question before the timer runs out</li>
                                <li class="list-group-item"><b>Do not click 'FINISH TEST' unless you want complete the test</b></li>
                                <li class="list-group-item"><b>You can LOGOUT and resume the test from the next question if you want to take a break</b></li>
                                <li class="list-group-item"><b>If you LOGOUT, the current question will be marked as Answered along with the options you selected</b></li>
                                <li class="list-group-item"><b>If you LOGOUT, the current question will not be visible the next time you login</b></li>
                                <li class="list-group-item">Questions can be from various domains</li>
                                <li class="list-group-item">You cannot view the previous questions once you go to the next question</li>
                                <li class="list-group-item">There could be multiple answers for each question</li>
                                <li class="list-group-item">Make sure you have a pen and paper with you</li>
                                <li class="list-group-item">For best test experience use chrome browser</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row" style="justify-content: center;margin-top: 40px">
                        <button type="button" class="btn red" (click)="takeTest()">Take test</button>
                    </div>
                </div>
            </div>
    </div>
    </div>