@{
    Layout = "~/Views/Shared/_MaterialLayout.cshtml";
}

<div layout="vertical">
    <md-sidenav class="md-sidenav-left"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-sm')"
                md-whiteframe="4" layout="column">
        <md-toolbar>
            <h1>Quantium</h1>
        </md-toolbar>
        <md-content md-theme="dark-grey" md-theme-watch flex>
            <md-list class="sideNavList fill-width" flex layout="column">
                <md-list-item>
                    <md-button ui-sref="dashboard" layout-align="start center" class="fill">
                        <md-icon md-svg-icon="dashboard" class="s42"></md-icon>
                        <span>Dashboard</span>
                    </md-button>
                </md-list-item>
                <md-list-item layout-align="start center">
                    <md-button ui-sref="uploadQuestions" class="fill">
                        <md-icon md-svg-icon="upload" class="s42"></md-icon>
                        <span>Upload Questions</span>
                    </md-button>
                </md-list-item>
                <md-list-item layout-align="start center">
                    <md-button ui-sref="createJob" class="fill">
                        <md-icon md-svg-icon="createJob" class="s42"></md-icon>
                        <span>Create Job</span>
                    </md-button>
                </md-list-item>
                <md-list-item layout-align="start center">
                    <md-button ui-sref="addCandidates" class="fill">
                        <md-icon md-svg-icon="addCandidates" class="s42"></md-icon>
                        Add Candidates
                    </md-button>
                </md-list-item>
                <md-list-item>
                    <md-button ui-sref="createTest" class="fill">
                        <md-icon md-svg-icon="createTest" class="s42"></md-icon>
                        Create Test
                    </md-button>
                </md-list-item>
                @*<md-list-item>
                    <md-button flex ui-sref="editTest">
                        <md-icon md-svg-icon="editTest" class="s42"></md-icon>
                        Edit Test
                    </md-button>
                </md-list-item>*@
                <md-list-item>
                    <md-button ui-sref="addTeamAdmin" class="fill">
                        <md-icon md-svg-icon="addAdmin" class="s42"></md-icon>
                        Add Admin
                    </md-button>
                </md-list-item>
                <md-list-item>
                    <md-button ui-sref="candidateTestList" class="fill">
                        <md-icon md-svg-icon="takeTest" class="s42"></md-icon>
                        Test results
                    </md-button>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>
</div>


<div layout="column" flex>
    <div ui-view md-scroll-y layout="column" class="fill-height fill-width"></div>
</div>
