@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@*<ul class="nav navbar-nav">
        <li><a ui-sref="candidateDetails">Candidate Details</a></li>
        <li><a ui-sref="candidateInstructions">Instructions</a></li>
        <li><a ui-sref="testPage">Test Page</a></li>
        <li><a ui-sref="candidateInstructions">Instructions</a></li>
        <li><a ui-sref="candidateInstructions">Instructions</a></li>
        <li><a ui-sref="candidateInstructions">Instructions</a></li>
        <li><a ui-sref="candidateInstructions">Instructions</a></li>
        <li><a ui-sref="candidateInstructions">Instructions</a></li>
        <li><a ui-sref="candidateInstructions">Instructions</a></li>

    </ul>*@

<div ui-view></div>
@*<ul>
    <li><a href="#" ui-sref="home">Home</a></li>
    <li><a href="#" ui-sref="login">Login</a></li>
    <li><a href="#" ui-sref="private">Private Page</a></li>
    <li><a href="#" ui-sref="secret">Secret Page</a></li>

    <li><a href="#" ng-click="onLogout()">Logout</a></li>
</ul>*@

@*<div class="body-content" ui-view="main-view2"></div>*@