 <div class="d-flex" style="padding: 20px;justify-content: center">
 <form style="flex: 0 1 50%" novalidate #form="ngForm" (submit)="addCandidate(form)">
         <div class="form-group">
                <label class="form-control-label" for="firstName">First name</label>
                <input type="text" #firstName="ngModel" class="form-control" id="firstName" name="firstName" placeholder="First name" [(ngModel)]="candidate.FirstName">
        </div>
        <div class="form-group">
                <label class="form-control-label" for="lastName">Last name</label>
                <input type="text" #firstName="ngModel" class="form-control" id="lastName" name="lastName" placeholder="Last name" [(ngModel)]="candidate.LastName">
        </div>

        <div class="form-group"  [class.has-danger]="email.invalid && email.touched">
                <label class="form-control-label"  for="email">Email*</label>
                <input type="text" #firstName="ngModel" class="form-control" #email="ngModel" id="email" required name="email" placeholder="Email" [(ngModel)]="candidate.Email"
                pattern="[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?">
                <small *ngIf="email.invalid && email.touched && !email.hasError('pattern')" class="form-text muted-text">Email is required</small>
                <small *ngIf="email.touched && email.hasError('pattern')" class="form-text muted-text">Email is not valid</small>
        </div>

        <div class="d-flex" style="justify-content: center">
                <button type="submit" class="btn red" [disabled]="form.invalid">Add Candidate</button>
        </div>
 </form>
 </div>

<div bsModal #progress="bs-modal" class="modal fade" tabindex="-1" role="dialog" [config]="{backdrop: 'static', ignoreBackdropClick: true, keyboard: false}">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
                <h5 class="modal-title" style="width: 100%; text-align: center">{{modalResponse}}</h5>
        </div>
      
      <div class="modal-footer" style="justify-content: center">
                <span class="fa fa-spinner fa-spin fa-3x"  *ngIf="isRequestProcessing"></span>
                
                <button type="button" class="close"   *ngIf="!isRequestProcessing" (click)="progress.hide()">
                       <span class="fa fa-times-circle-o fa-2x"></span>
                </button>
        </div>
    </div>
  </div>
</div>
 