.download-template{
    a{
    color: whitesmoke;
    text-decoration: none;
    }
}

.question-attributes{
    justify-content: flex-end;
    span{
        margin-right: 40px;
    }
}

.modal.show .modal-dialog.large-modal-window{
    max-width: 100%;
    margin: 0;
}