<div class="d-flex" style="justify-content: center">
        <div class="col-lg-5 col-md-10" style="padding: 20px;margin-top: 20px">
                        <div class="d-flex">
                                <div style="padding-top: 6px;">
                                        Download bulk upload template
                                </div>
                                <button type="button" class="btn btn-primary download-template" style="margin-bottom: 20px; margin-left: auto">
                                        <a href="/QuestionsTemplate.xlsx" download="Questions Template">Download</a>
                                </button>
                        </div>
                        
                        



                <div class="d-flex" style="margin-top: 20px">
                        <div style="padding-top: 6px;">
                                Upload .xlsx file
                        </div>
                        
                        <div class="l-container" style="margin-left: auto">
                                <div class="form-controlGroup">
                                                <div class="form-controlGroup-inputWrapper">
                                                                <label class="form-input form-input--file">
                                                                                <span class="form-input--file-text">{{fileText}}</span>
                                                                                <span class="form-input--file-button">Browse</span>
                                                                                <input class="form-input-file" #fileInput="ngModel" [ngModel]="fileModel" type="file" id="file" accept=".xlsx" size="14" (click)="browseClick(fileInput)" (change)="onFileChange($event)"/>
                                                                </label>
                                                </div>
                                </div>
                        </div>
                </div>
                
                <div class="d-flex" style="margin-bottom: 20px;margin-top: 40px; justify-content: space-between" >

                        <button type="button" class="btn btn-primary light-gray" data-toggle="button" autocomplete="off" [disabled]="!fileData || validationFailed" (click)="previewQuestions(content)" >
                                Preview
                        </button>
                        <button type="button" class="btn btn-primary red" data-toggle="button" autocomplete="off" [disabled]="!fileData || validationFailed" (click)="addQuestions(progress)">
                                Save
                        </button>

                </div>
                
        </div>
</div>

 
<div bsModal #questionsPreview="bs-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg large-modal-window">
    <div class="modal-content">
            
      <div class="modal-header">
                <div class="d-flex" style="flex: 1 1 auto; justify-content: center">
                        <h4 class="modal-title">Your questions</h4>
                </div>
                <button type="button" class="close" aria-label="Close" (click)="questionsPreview.hide()">
                        <span><i class="fa fa-times-circle-o fa-2x"></i></span>
                </button>
     </div>

      <div class="modal-body">
                <div *ngFor="let question of questions; let index=index">
                        <div class="question-attributes d-flex">
                                <span><b>Time for question :</b> {{question.TimeInSeconds}} seconds</span>
                                <span><b>Label : </b>{{question.Label.Name}}</span>
                               <span><b> Difficulty : </b>{{question.Difficulty.Name}}</span>
                               <span> <b>Randomize Options :</b> {{question.RandomizeOptions}}</span>
                        </div>
                        <b><p *ngIf="question.QuestionGroup.Description.length > 0">{{index + 1}}. <span [innerHTML]="question.QuestionGroup.Description"></span></p></b>
                        <b><p> <span *ngIf="question.QuestionGroup.Description.length < 1">{{index + 1}}. </span> <span [innerHTML]="question.Text"></span></p></b>
                        <div *ngIf="question.ImageUrl?.length > 0">
                                <img [src]="question.ImageUrl" class="imagePreview" />
                        </div>
                        <div class="previewOptionList" *ngIf="!question.IsRadio">
                                <ul style="list-style: none">
                                <li *ngFor="let option of question.Options">
                                        <p>
                                                <i [ngClass]="option.IsAnswer ? 'fa fa-square': 'fa fa-square-o'"></i>
                                                <span class="margin-left-10" [innerHTML]="option.Text"></span>
                                        </p>
                                </li>
                                </ul>
                        </div>
                        <div class="previewOptionList" *ngIf="question.IsRadio">
                                <ul style="list-style: none">
                                <li *ngFor="let option of question.Options">
                                        <p>
                                                <i [ngClass]="option.IsAnswer ? 'fa fa-circle': 'fa fa-circle-o'"></i>
                                                <span class="margin-left-10" [innerHTML]="option.Text"></span>
                                        </p>
                                </li>
                                </ul>
                        </div>
                        <hr>
                </div>
        </div>
    </div>
  </div>
</div>


<div bsModal #progress="bs-modal" class="modal fade" tabindex="-1" role="dialog" [config]="{backdrop: 'static', ignoreBackdropClick: true, keyboard: false}">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header" style="justify-content: center">
                <h5 class="modal-title">{{modalResponse}}</h5>
        </div>
      
      <div class="modal-footer" style="justify-content: center">
                <span class="fa fa-spinner fa-spin fa-3x"  *ngIf="isRequestProcessing"></span>
                
                <button type="button" class="close"   *ngIf="!isRequestProcessing" (click)="closeProgressModal()">
                       <span class="fa fa-times-circle-o fa-2x"></span>
                </button>
        </div>
    </div>
  </div>
</div>
 