.download-template{
    a{
    color: whitesmoke;
    text-decoration: none;
    }
}

.question-attributes{
    justify-content: flex-end;
    span{
        margin-right: 40px;
    }
}

.modal.show .modal-dialog.large-modal-window{
    max-width: 100%;
    margin: 0;
}

$input-borderColor: #ccc;
$color-primary: green;



.file-input-wrapper {
    height: 40px;
    overflow: hidden;
    position: relative;
	width: 400px;
    display: flex;
    justify-content: flex-end;
	border: 1px solid lightgray;
    border-radius: 26px;
}
.file-input-wrapper > input[type="file"] {
    font-size: 200px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
}
.file-input-wrapper > .btn-file-input {
    display: inline-block;
    height: 40px;
}
.file-input-wrapper:hover > .btn-file-input {
    background-color: #aaa;
}


.upload-questions-container{
	width: 600px;
}

@media (max-width: 1313px){
	.upload-questions-container{
		flex: 1 1 auto !important;
	}
}

::-webkit-scrollbar-track {
    background: rgba(170, 170, 170, 0.89);
}