@headerFooterTextColor: #bdbdbd;
@headerFooterBackgroundColor: #444545;

.header{
    display: flex;
    justify-content: center;
    color: @headerFooterTextColor;
    background-color:@headerFooterBackgroundColor;
}

.footer{
    display: flex;
    justify-content: center;
    align-items:center;
    color: @headerFooterTextColor;
    font-size:small;
    background-color:@headerFooterBackgroundColor;
}