<div class="router-outlet-container">
        <span class="admin-outlet-heading">CANDIDATES</span>
        <div class="admin-data-container">
            <div style="max-height: 0px">
                <nav class="navbar navbar-light navbar-toggleable-xs bg-faded">
                    <ul class="navbar-nav mr-auto flex-row">
                        <li class="tab nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['./']">Add candidates</a>
                        </li>
                        <li class="tab nav-item" >
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['bulkUpload']">Bulk upload</a>
                        </li>
                        <li class="tab nav-item" >
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['viewCandidates']">View candidates</a>
                        </li>
                    </ul>
                </nav>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>