
.input-icon{
    position: absolute;
    top: 7px;
    right: 4px;
    z-index: 5;
}
.input-spinner-icon{
    @extend .input-icon;
}

.input-valid-icon{
    @extend .input-icon;
}

.modal-header, .modal-footer, .modal-body{
    display: flex;
    justify-content: center;
}



