
    <div class="router-outlet-container">
        <span class="admin-outlet-heading">ADD ADMIN</span>
        <div class="admin-data-container">

            <div class="d-flex" style="justify-content: center; max-height: 0px">
                <form style="flex: 0 1 50%" novalidate #form="ngForm" (submit)="addAdmin(form)">
                    <div class="form-group" [class.has-danger]="firstName.invalid && firstName.touched">
                        <label class="form-control-label" for="firstName">First name</label>
                        <input type="text" #firstName="ngModel" class="form-control" id="firstName" required name="firstName" placeholder="First name" [(ngModel)]="newAdmin.FirstName">
                        <small *ngIf="firstName.invalid && firstName.touched" class="form-text muted-text">First name is required</small>
                    </div>

                    <div class="form-group" [class.has-danger]="lastName.invalid && lastName.touched">
                        <label class="form-control-label" for="lastName">Last name</label>
                        <input type="text" #lastName="ngModel" class="form-control" id="lastName" required name="lastName" placeholder="Last name"  [(ngModel)]="newAdmin.LastName">
                        <small *ngIf="lastName.invalid && lastName.touched" class="form-text muted-text">Last name is required</small>
                    </div>

                    <div class="form-group" [class.has-danger]="(email.invalid && email.touched) || (email.touched && isEnteredEmailExists)">
                        <label class="form-control-label" for="email">Email</label>
                        <div class="input-group">
                        <input type="email" #email="ngModel" class="form-control" id="email" required name="email"placeholder="Email" [(ngModel)]="newAdmin.Email"
                        pattern="[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?"
                        (blur)="validateEmail(email)" (focus)="isEnteredEmailExists=null">
                        <span *ngIf="validationInProgress" class="fa fa-spinner fa-spin fa-2x input-spinner-icon"></span>
                        <span *ngIf="email.dirty && email.touched && (isEnteredEmailExists === false) && !validationInProgress && email.valid" class="fa fa-check fa-2x input-valid-icon"></span>
                        <span *ngIf="email.dirty && email.touched && isEnteredEmailExists && !validationInProgress" class="fa fa-times fa-2x input-valid-icon"></span>
                        </div>
                        <small *ngIf="email.invalid && email.touched && !email.hasError('pattern')" class="form-text muted-text">Email is required</small>
                        <small *ngIf="email.hasError('pattern')" class="form-text muted-text">Email is not valid</small>
                        <small *ngIf="email.valid && email.touched && isEnteredEmailExists" class="form-text muted-text">Email already exists</small>
                    </div>

                    <div class="form-group" [class.has-danger]="mobileNumber.invalid && mobileNumber.touched">
                        <label class="form-control-label" for="mobileNumber">Mobile Number</label>
                        <input type="number" #mobileNumber="ngModel" class="form-control" id="mobileNumber" required name="mobileNumber" placeholder="Mobile number" [(ngModel)]="newAdmin.Mobile"
                        minlength="10" maxlength="10">
                        <small *ngIf="mobileNumber.invalid && mobileNumber.touched" class="form-text muted-text">Mobile is required</small>
                    </div>

                    <div class="form-group" [class.has-danger]="department.touched && department.value == 0">
                        <label class="form-control-label" for="department">Department</label>
                        <select class="form-control" #department="ngModel" id="department" name="department" required [(ngModel)]="newAdmin.DepartmentId">
                            <option value="0">Select a department..</option>
                            <option *ngFor="let dept of departments" [value]="dept.Id">{{dept.Name}}</option>
                        </select>
                        <small *ngIf="department.touched && department.value == 0" class="form-text muted-text">Department is required</small>
                    </div>

                    <div class="d-flex" style="justify-content: center">
                        <button type="submit" class="btn red" [disabled]="form.invalid || isEnteredEmailExists !== false || department.value == 0">Add Admin</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<div bsModal #progress="bs-modal" class="modal fade" tabindex="-1" role="dialog" [config]="{backdrop: 'static', ignoreBackdropClick: true, keyboard: false}">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
                <h5 class="modal-title" style="text-align: center">{{modalResponse}}</h5>
        </div>
      
      <div class="modal-footer" style="justify-content: center">
                <span class="fa fa-spinner fa-spin fa-2x"  *ngIf="isRequestProcessing"></span>
                
                <button type="button" class="close"   *ngIf="!isRequestProcessing" (click)="closeProgressModal()">
                       <span class="fa fa-times-circle-o fa-2x"></span>
                </button>
        </div>
    </div>
  </div>
</div>