  <nav class="navbar navbar-light fixed-top navbar-toggleable-md bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" target="_blank" [routerLink]="['/']"> <img src="/dist/assets/img/quantium-logo.svg" class="d-inline-block align-top q-logo" alt=""></a>

    <div class="navbar-collapse pull-right" [ngbCollapse]="isNavbarCollapsed" id="navbarContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/getting-started']">DASHBOARD</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/components']">QUESTIONS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/components']">JOBS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/components']">CANDIDATES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/components']">TESTS</a>
        </li>
          <li class="nav-item">
              <a class=" nav-link" [routerLink]="['/components']">SURVEYS</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/components']">ADMIN</a>
        </li>
        <li class="nav-item dropdown">
          <div ngbDropdown class="d-inline-block">
            <a class="nav-link dropdown-toggle" id="dropdownMenu1" ngbDropdownToggle>
              <img src="/dist/assets/img/user-icon.svg" class="d-inline-block align-top q-user-icon" alt="">
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <button class="dropdown-item">Profile</button>
              <button class="dropdown-item">Logout</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>