
    <div class="router-outlet-container">
        <span class="admin-outlet-heading">CANDIDATE INFORMATION</span>
        <div class="admin-data-container">
                <div class="d-flex" style="justify-content: center; max-height: 0px">
                    <form class="col-md-12" novalidate [formGroup]="candidateDetailsForm">
                        <h4 style="text-align: center; margin-bottom: 50px">Please fill your details</h4>
                        <div class="d-flex detail-group" style="justify-content: space-around">

                            <div class="form-group" [class.has-danger]="candidateDetailsForm.get('firstName').invalid && candidateDetailsForm.get('firstName').touched">
                                <label class="form-control-label" for="firstName">First name</label>
                                <input type="text" class="form-control" id="firstName" placeholder="First name" formControlName="firstName">
                                <small *ngIf="candidateDetailsForm.get('firstName').touched && candidateDetailsForm.get('firstName').invalid" class="form-text muted-text">First name is required</small>
                            </div>

                            <div class="form-group" [class.has-danger]="candidateDetailsForm.get('lastName').invalid && candidateDetailsForm.get('lastName').touched">
                                <label class="form-control-label" for="lastName">Last name</label>
                                <input type="text" class="form-control" id="lastName" placeholder="Last name" formControlName="lastName">
                                <small *ngIf="candidateDetailsForm.get('lastName').touched && candidateDetailsForm.get('lastName').invalid" class="form-text muted-text">Last name is required</small>
                            </div>

                            <div class="form-group" [class.has-danger]="candidateDetailsForm.get('mobile').invalid && candidateDetailsForm.get('mobile').touched">
                                <label class="form-control-label" for="mobile">Mobile</label>
                                <input type="text" class="form-control" id="mobile" placeholder="Mobile" formControlName="mobile">
                                <span *ngIf="candidateDetailsForm.get('mobile').touched && candidateDetailsForm.get('mobile').invalid">
                                    <small *ngIf="candidateDetailsForm.get('mobile').errors?.required" class="form-text muted-text">Mobile is required</small>
                                    <small *ngIf="candidateDetailsForm.get('mobile').errors?.minlength" class="form-text muted-text">
                                        Mobile should not be < 10 digits</small>
                                    <small *ngIf="candidateDetailsForm.get('mobile').errors?.maxlength" class="form-text muted-text">
                                    Mobile should not be > 10 digits</small>
                                     <small *ngIf="candidateDetailsForm.get('mobile').errors?.notnumeric" class="form-text muted-text">
                                    Mobile should be numeric</small>
                                </span>
                            </div>
                        </div>

                        <div class="d-flex detail-group" style="justify-content: space-around">

                                <div class="form-group" [class.has-danger]="candidateDetailsForm.get('branch').invalid && candidateDetailsForm.get('branch').touched">
                                    <label class="form-control-label" for="branch">Branch</label>
                                    <input type="text" class="form-control" id="branch" placeholder="Branch" formControlName="branch">
                                    <small *ngIf="candidateDetailsForm.get('branch').touched && candidateDetailsForm.get('branch').invalid" class="form-text muted-text">Branch is required</small>
                                </div>

                                <div class="form-group" [class.has-danger]="candidateDetailsForm.get('cgpa').invalid && candidateDetailsForm.get('cgpa').touched">
                                    <label class="form-control-label" for="cgpa">CGPA</label>
                                    <input type="text" class="form-control" id="cgpa" placeholder="e.g. 7 or 7.5" formControlName="cgpa">
                                    <span *ngIf="candidateDetailsForm.get('cgpa').touched && candidateDetailsForm.get('cgpa').invalid">
                                        <small *ngIf="candidateDetailsForm.get('cgpa').errors?.required" class="form-text muted-text">CGPA is required</small>
                                        <small *ngIf="candidateDetailsForm.get('cgpa').errors?.minlength || candidateDetailsForm.get('cgpa').errors?.maxlength" class="form-text muted-text">
                                            CGPA should be in the format X or X.Y</small>
                                        <small *ngIf="candidateDetailsForm.get('cgpa').errors?.notnumeric" class="form-text muted-text">
                                            CGPA should be numeric</small>
                                        <small *ngIf="candidateDetailsForm.get('cgpa').errors?.morethan10" class="form-text muted-text">
                                            CGPA should not be more than 10</small>
                                    </span>
                                </div>

                                <div class="form-group" [class.has-danger]="candidateDetailsForm.get('college').invalid && candidateDetailsForm.get('college').touched">
                                    <label class="form-control-label" for="college">College</label>
                                    <input type="text" class="form-control" id="college" placeholder="College" formControlName="college">
                                    <small *ngIf="candidateDetailsForm.get('college').touched && candidateDetailsForm.get('college').invalid" class="form-text muted-text">College is required</small>
                                </div>
                        </div>

                        <div class="d-flex detail-group" style="justify-content: space-around">
                                <div class="form-group" [class.has-danger]="candidateDetailsForm.get('state').invalid && candidateDetailsForm.get('state').touched">
                                    <label class="form-control-label" for="state">State</label>
                                    <input type="text" class="form-control" id="state" placeholder="State" formControlName="state">
                                    <small *ngIf="candidateDetailsForm.get('state').touched && candidateDetailsForm.get('state').invalid" class="form-text muted-text">State is required</small>
                                </div>

                                <div class="form-group" [class.has-danger]="candidateDetailsForm.get('city').invalid && candidateDetailsForm.get('city').touched">
                                    <label class="form-control-label" for="city">City</label>
                                    <input type="text" class="form-control" id="city" placeholder="City" formControlName="city">
                                    <small *ngIf="candidateDetailsForm.get('city').touched && candidateDetailsForm.get('city').invalid" class="form-text muted-text">City is required</small>
                                </div>

                                <div class="form-group" [class.has-danger]="candidateDetailsForm.get('country').invalid && candidateDetailsForm.get('country').touched">
                                    <label class="form-control-label" for="country">Country</label>
                                    <input type="text" class="form-control" id="country" placeholder="Country" formControlName="country">
                                    <small *ngIf="candidateDetailsForm.get('country').touched && candidateDetailsForm.get('country').invalid" class="form-text muted-text">Country is required</small>
                                </div>
                        </div>

                        <div class="d-flex detail-group" style="justify-content: space-around">
                            <div class="form-group" [class.has-danger]="candidateDetailsForm.get('graduation').invalid && candidateDetailsForm.get('graduation').touched">
                                <label class="form-control-label" for="graduation">Graduation year</label>
                                <input type="number" class="form-control" id="graduation" placeholder="e.g. 2012" formControlName="graduation">
                                 <span *ngIf="candidateDetailsForm.get('graduation').touched && candidateDetailsForm.get('graduation').invalid">
                                        <small *ngIf="candidateDetailsForm.get('graduation').errors?.required" class="form-text muted-text">Graduation year is required</small>
                                        <small *ngIf="candidateDetailsForm.get('graduation').errors?.minlength ||
                                             candidateDetailsForm.get('graduation').errors?.maxlength || 
                                             candidateDetailsForm.get('graduation').errors?.yearNotValid" class="form-text muted-text">
                                           Graduation year should be between 1900 and 2025</small>
                                        <small *ngIf="candidateDetailsForm.get('graduation').errors?.notnumeric" class="form-text muted-text">
                                           Graduation year should be numeric</small>
                                    </span>
                            </div>

                            <div class="form-group" [class.has-danger]="candidateDetailsForm.get('currentCompany').invalid && candidateDetailsForm.get('currentCompany').touched">
                                <label class="form-control-label" for="currentCompany">Current company</label>
                                <input type="text" class="form-control" id="currentCompany" placeholder="Current company" formControlName="currentCompany">
                                <small *ngIf="candidateDetailsForm.get('currentCompany').touched && candidateDetailsForm.get('currentCompany').invalid" class="form-text muted-text">Current company is required</small>
                            </div>

                            <div class="form-group" [class.has-danger]="candidateDetailsForm.get('experience').invalid && candidateDetailsForm.get('experience').touched">
                                <label class="form-control-label" for="experience">Experience</label>
                                <select class="form-control" id="experience" formControlName="experience">
                                    <option value="" selected>Select experience..</option>
                                    <option [value]="year" *ngFor="let year of years">{{ year + (year == 1 ? ' year' : ' years')}}</option>
                                </select>
                                <small *ngIf="candidateDetailsForm.get('experience').touched && candidateDetailsForm.get('experience').invalid" class="form-text muted-text">Experience is required</small>
                            </div>

                        </div>

                        <div style="margin-top: 30px;display: flex;justify-content: center; margin-bottom: 20px;">
                            <button type="submit" class="btn red" [disabled]="candidateDetailsForm.invalid" (click)="saveCandidateDetails()">Save details</button>
                        </div>
                    </form>
                </div>
        </div>
    </div>

<div bsModal #progress="bs-modal" class="modal fade" tabindex="-1" role="dialog" [config]="{backdrop: 'static', ignoreBackdropClick: true, keyboard: false}">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
                <h5 class="modal-title" style="width: 100%; text-align: center">{{modalResponse}}</h5>
        </div>
      
      <div class="modal-footer" style="justify-content: center">
                <span class="fa fa-spinner fa-spin fa-3x"  *ngIf="isRequestProcessing"></span>
                
                <button type="button" class="close"   *ngIf="!isRequestProcessing" (click)="closeProgressModal()">
                       <span class="fa fa-times-circle-o fa-2x"></span>
                </button>
        </div>
    </div>
  </div>
</div>