 <div class="" style="padding: 20px">
        <form  novalidate #form="ngForm" (submit)="generateTests(form)">
                <div class="row" style="min-height: 400px;">
                        <div class="job-details" style="flex: 0 1 50%;display: flex;flex-direction: column" >
                                <div class="d-flex job-selection-group">
                                        <div class="form-group" [class.has-danger]="job.touched && (job.invalid || selectedJobId == 0)" style="flex: 1 1 50%">
                                                <label class="form-control-label" for="job">Select job</label>
                                                <select class="form-control" #job="ngModel" id="job" name="job" required [(ngModel)]="selectedJobId" (ngModelChange)="selectJob($event)">
                                                        <option selected value="0">Select job..</option>
                                                        <option *ngFor="let job of jobs" [value]="job.Id">{{job.Title}}</option>
                                                </select>
                                                <small *ngIf="job.touched && (job.invalid || selectedJobId == 0)" class="form-text muted-text">Job is required</small>
                                        </div>
                                        <div class="generate-test">
                                                <button type="submit" class="btn red" [disabled]="form.invalid || (!hasSelectedAtleastOneCandidate) || !selectedJobId || selectedJobId == 0">Generate tests for selected candidates</button>
                                        </div>
                                    {{selectedJobId}}
                                </div>
                                
                                
                                <div *ngIf="selectedJob" style="margin-right: 20px">
                                        <table class="table table-striped">
                                                <thead>
                                                        <tr>
                                                        <th>#</th>
                                                        <th>Label</th>
                                                        <th>Difficulty</th>
                                                        <th>Questions</th>
                                                        <th>Passing criteria</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                        <tr *ngFor="let jobDifficultyLabel of selectedJob.JobDifficultyLabels; let i = index">
                                                        <td scope="row">{{i + 1}}</td>
                                                        <td>{{jobDifficultyLabel.Label.Name}}</td>
                                                        <td>{{jobDifficultyLabel.Difficulty.Name}}</td>
                                                        <td>{{jobDifficultyLabel.DisplayQuestionCount}}</td>
                                                        <td>{{jobDifficultyLabel.PassingQuestionCount}}</td>
                                                        </tr>
                                                </tbody>
                                        </table>
                                </div>
                        </div>
                        
                        <div class="candidate-test-details" style="flex: 0 1 50%">
                                <div class="flex-row">
                                        <div class="form-group col-lg-6" [class.has-danger]="" >
                                                <label class="form-control-label" for="search">Search candidates</label>
                                                <input class="form-control" id="search" name="search" [(ngModel)]="search"  type="text"
                                                 placeholder="Search Candidates" (ngModelChange)="filterCandidates(search)">
                                        </div>

                                        <div class="flex-row" style="flex: 0 1 40%; margin-top: 42px; margin-left: 30px">        
                                                <input style="width: 40px; margin-top: 5px;" #selectedAllTemplate="ngModel" id="job" name="job" [(ngModel)]="selectedAll"
                                                type="checkbox" (ngModelChange)="checkAll(filteredCandidates)"/>
                                                <span style="margin-left: 5px;">Select all</span>
                                        </div>
                                        
                                </div>
                                
                                <div style="margin-left: 10px; overflow-y: auto; height: 500px">
                                        <div>
                                                <table class="table table-striped">
                                                        <thead>
                                                                <tr>
                                                                <th>#</th>
                                                                <th style="text-align: center">Generate test</th>
                                                                <th>Name</th>
                                                                <th>Email</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                                <tr *ngFor="let candidate of filteredCandidates;let i=index">
                                                                        <td scope="row">{{i + 1}}</td>
                                                                        <td style="text-align: center"><input style="height: 18px;width: 18px;margin-top: 5px;" id="search{{i}}" name="search{{i}}" 
                                                                        [(ngModel)]="selectedtestOptions.candidateIds[candidate.Id]" (ngModelChange)="updateSelectedCandidateCount()"
                                                                        type="checkbox"/></td>
                                                                        <td>{{candidate.FirstName}} {{candidate.LastName}}</td>
                                                                        <td>{{candidate.Email}}</td>
                                                                </tr>
                                                        </tbody>
                                                </table>
                                                <p style="text-align: center" *ngIf="filteredCandidates?.length === 0">
                                                        <b>No active candidates without tests found</b>
                                                </p>
                                                
                                        </div>
                                </div>
                        </div>
                </div>
        </form>
        
</div>



<div bsModal #progress="bs-modal" class="modal fade" tabindex="-1" role="dialog" [config]="{backdrop: 'static', ignoreBackdropClick: true, keyboard: false}">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
                <h5 class="modal-title" style="width: 100%; text-align: center">{{modalResponse}}</h5>
        </div>
      
      <div class="modal-footer" style="justify-content: center">
                <span class="fa fa-spinner fa-spin fa-2x"  *ngIf="isRequestProcessing"></span>
                
                <button type="button" class="close"   *ngIf="!isRequestProcessing" (click)="closeProgressModal()">
                       <span class="fa fa-times-circle-o fa-2x"></span>
                </button>
        </div>
    </div>
  </div>
</div>