 <div class="" style="padding: 20px">
        <form  novalidate #form="ngForm" (submit)="generateTests()">
                <div class="d-flex">
                        <div style="flex: 0 1 50%">
                                <div class="form-group" [class.has-danger]="job.touched && job.value == 0">
                                <label class="form-control-label" for="job">Select job</label>
                                <select class="form-control" #job="ngModel" id="job" name="job" required [(ngModel)]="selectedJobId" (ngModelChange)="selectJob($event)">
                                        <option *ngFor="let job of jobs" [value]="job.Id">{{job.Title}}</option>
                                </select>
                                <small *ngIf="job.touched && job.value == 0" class="form-text muted-text">Job is required</small>
                                </div>
                        </div>
                        <div *ngIf="selectedJob" style="flex: 0 1 50%">
                                <div *ngFor="let jobDifficultyLabel of selectedJob.JobDifficultyLabels">
                                        <div>
                                                <span>{{jobDifficultyLabel.Label.Name}}</span>
                                                <span>Difficulty - {{jobDifficultyLabel.Difficulty.Name}}</span>
                                                <span>Questions - {{jobDifficultyLabel.DisplayQuestionCount}}</span>
                                                <span>Passing criteria - {{jobDifficultyLabel.PassingQuestionCount}}</span>
                                        </div>
                                </div>
                        </div>
                </div>
                <button type="submit" class="btn" [disabled]="form.invalid || job.value == 0">Generate tests for selected candidates</button>

                <p>Select candidates for the job</p>
                <div class="form-group" [class.has-danger]="">
                <label class="form-control-label" for="search">Search candidates</label>
                <input class="form-control" #searchTemplate="ngModel" id="search" name="search" required [(ngModel)]="search"  type="text" placeholder="Search Candidates">
                <small *ngIf="false" class="form-text muted-text">Search is required</small>
                </div>
                
                <div class="form-group" [class.has-danger]="">
                <label class="form-control-label" for="job">Select All</label>
                <input class="form-control" #selectedAllTemplate="ngModel" id="job" name="job" required [(ngModel)]="selectedAll"  type="checkbox">
                <small *ngIf="false" class="form-text muted-text">select is required</small>
                </div>

                <div>
                        <div class="" *ngFor="let candidate of candidates | filterCandidates: searchTemplate.value">
                                <div class="form-group" [class.has-danger]="">
                                <input class="form-control"  id="search" name="search" required 
                                        type="checkbox">
                                </div>
                                <div class="" layout="">
                                        <h3>{{candidate.FirstName}} {{candidate.LastName}}</h3>
                                        <h4>{{candidate.Email}}</h4>
                                </div>
                        </div>
                </div>
        </form>
        
</div>

<button type="button" class="btn btn-primary" (click)="staticModal.show()">Static modal</button>
 
<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Static modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        This is static modal, backdrop click will not close it.
        Click <b>&times;</b> to close modal.
      </div>
    </div>
  </div>
</div>