<div class="router-outlet-container">
    <span class="admin-outlet-heading">SURVEY</span>
    <div class="admin-data-container">
        <form #challengeForm="ngForm">
            <div class="form-group">
                <div *ngFor="let response of surveyResponses ; let index =index">
                   
                        {{index+1}} :  {{response.SurveyQuestion.Text}}                   
                    <div>                      
                      <textarea class="form-control" placeholder="enter your response" [(ngModel)]="response.Response" name="{{index+1}}name" required></textarea>
                    </div>
                </div>
            </div>
            <br />
            <button [disabled]="!challengeForm.valid" type="submit" (click)="SubmitResponses()">Submit Responses</button>
            <small *ngIf="!challengeForm.valid" class="form-text muted-text text-danger font-weight-bold">Note : Submit Option will only be enabled when all the Survey responses are provided. </small>
        </form>   
    </div>
</div>