<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
<div class="container jumbotron">
    <h1 class="h1 text-center">Instructions</h1>
    <blockquote>
        Quantium is a globally recognised leader in the development of data-driven insights and ideas. Insights into the rapidly changing needs and preferences of consumers, and ideas about how brands can engage customers and what their businesses must do to succeed.

        We have enabled many of Australia’s most progressive businesses to capitalise on the value of their own data, combined with Quantium’s unique data assets, analytical skills and software development capabilities, to create greater customer understanding and attraction.

        Quantium is determined to ensure that every insight has an application which will drive practical change and progress.

        Our commitment to data quality, privacy and security is central to our daily operations and at the heart of our company’s values.

        We exist to give each of our clients the power to discover new possibilities and change their world.

        We are passionate about data.
    </blockquote>
    <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4 center-block">
            <button class="btn btn-primary center-block">Close</button>
        </div>
    </div>
</div>
    <link rel="stylesheet" type="text/css" href="css/site.css" />
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.css" />
</body>
</html>