
<hr class="tagline-divider">
<h2 class="brand-before">
    <small>Super Admin Home</small>
</h2>
<hr class="tagline-divider">

<div class="tileContainer">
    <div class="actiontile"><a ui-sref="createTest"><i class="fa fa-camera-retro fa-5x"></i><br /><h4> Create Test</h4></a></div>
    <div class="actiontile"><a ui-sref="editTest"><i class="fa fa-bolt fa-5x"></i><br /><h4>Edit Test</h4></a></div>
    <div class="actiontile"><a ui-sref="sendTest"><i class="fa fa-bullhorn fa-5x"></i><br /><h4>Send Test</h4></a></div>
    <div class="actiontile"><a ui-sref="addTeamAdmin"><i class="fa fa-user-secret fa-5x"></i><br /><h4 class="text-center">Add Team Admin</h4></a></div>
    <div class="actiontile"><a ui-sref="addCandidates"><i class="fa fa-user-plus fa-5x"></i><br /><h4 class="text-center">Add Candidates</h4></a></div>
    <div class="actiontile"><a ui-sref="addCandidates"><i class="fa fa-warning fa-5x"></i><br /><h4 class="text-center">Dummy</h4></a></div>
    <div class="actiontile"><a ui-sref="test"><i class="fa fa-blind fa-5x"></i><br /><h4 class="text-center">Take test</h4></a></div>
</div>
