<div class="tileContainer">
    <div class="actiontile"><a ui-sref="createTest"><h3>Create Test</h3></a></div>
    <div class="actiontile"><a ui-sref="editTest"><h3>Edit Test</h3></a></div>
    <div class="actiontile"><a ui-sref="sendTest"><h3>Send Test</h3></a></div>
    <div class="actiontile"><a ui-sref="addTeamAdmin"><h3 class="text-center">Add Team Admin</h3></a></div>
    <div class="actiontile"><a ui-sref="addCandidates"><h3 class="text-center">Add Candidates</h3></a></div>
</div>

<!--<div ui-view></div>-->
