
<div ng-controller="testController">
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="clockClass pull-right">
                <div class="clock"></div>
                <div class="message"></div>
            </div>
            <br /><br />
            <h3>Question 1</h3>
            <br /><br />
            
        </div>
        <div class="panel-body">
            <div class="container">
                <label class="control-label">{{question}}</label>
                <br />

                <div class="form-group">
                    <div class="">
                        <div class="checkbox" ng-repeat="option in options">
                            <label>
                            <!--<input type="checkbox" ng-model="option" ng-checked="" ng-change="addSelection($index, )"/>-->
                            <input id="{{option.optionText}}" type="checkbox" value="{{option.optionText}}" ng-checked="selection.indexOf(option.optionText) > -1"
                                    ng-click="toggleSelection(option.optionId)" />

                            {{option.optionText}}</label>
                        </div>

                        <ul>
                            <li ng-repeat="item in selection"><h3>{{item}}</h3></li>
                        </ul>
                        <!--<div class="checkbox">
                            <label><input type="checkbox" />Two</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" />Three</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" />Four</label>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button class="btn btn-primary" ng-click="postQuestion()">Next Question</button>
            <button class="btn btn-primary pull-right">Finish Test</button>
        </div>
    </div>

</div>