<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
<div class="container jumbotron">
    <div calss="control-group col-lg-8">
        <h2 class="h2">Question1</h2>
        <label class="control-label">1.Who is the CEO of Quantium</label>
        <div class="col-lg-10 columns">
            <label class="radio control-label">
                <input type="radio" name="radio"/>option 1
            </label>
            <label class="radio control-label">
                <input type="radio" name="radio"/>option 2
            </label>
            <label class="radio control-label">
                <input type="radio" name="radio"/>option 3
            </label>
            <label class="radio control-label">
                <input type="radio" name="radio"/>option 4
            </label>
            <label class="radio control-label">
                <input type="radio" name="radio"/>option 5
            </label>
        </div>
        <div class="form-group col-lg-4">
            <label class="col-lg-4 control-label"></label>
            <div class="col-lg-4 center-block">
                <button class="btn btn-primary center-block">Next</button>
            </div>
        </div>
    </div>
    <div class="control-group col-lg-offset-10">
        <div class="form-group">
            <label class="control-label">Tyrion Lannister</label>
        </div>
        <div class="form-group">
            <label class="control-label">He drinks and he know things</label>
        </div>
        <div class="form-group">
            <button class="btn btn-primary center-block">Finish Test</button>
        </div>
    </div>
</div>
    <link rel="stylesheet" type="text/css" href="css/site.css" />
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.css" />
</body>
</html>