<div>
    <h1>Upload Questions page</h1>

    <div class="panel panel-default">
        <div class="panel-heading">

        </div>

        <div class="panel-body">

            <div class="form-group">
                <label> Select a test : </label>
                <div class="btn-group">
                    <button type="button" data-toggle="dropdown" class="btn btn-danger dropdown-toggle">{{selectedItem}} <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="test in tests"><a href="" ng-click="changeTestName($event)">{{test.name}}</a></li>
                    </ul>
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-danger">Download Template</button>
            </div>

            <div class="form-group flex fileInput">
                <div class="input-group col-sm-4">
                    <input type="text" class="form-control" ng-disabled="true">
                    <label class="input-group-btn">
                        <span class="btn btn-danger">
                            Browse&hellip; <input type="file" style="display: none;" multiple ng-change="upload">
                        </span>
                    </label>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-primary">Upload</button>
            </div>

        </div>

        <div class="panel-footer">
            <button class="btn btn-success">Save Changes</button>
        </div>
    </div>

</div>    