<div>
    <h1>Upload Questions page</h1>

    <div class="panel panel-default">
        <div class="panel-heading">

        </div>

        <div class="panel-body">

            <div class="form-group">
                <label> Select a test : </label>
                <div class="btn-group">
                    <button type="button" data-toggle="dropdown" class="btn btn-danger dropdown-toggle">{{selectedItem}} <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="test in tests"><a href="" ng-click="changeTestName($event)">{{test.name}}</a></li>
                    </ul>
                </div>
            </div>

            <div class="form-group">
                <a class="btn btn-danger" href="/QuestionTemplate.csv">Download Template</a>
            </div>

            <div class="form-group flex fileInput">
                <div class="input-group col-sm-4">
                    <input type="text" class="form-control" value="{{fileName}}" ng-disabled="true">
                    <label class="input-group-btn">
                        <span class="btn btn-danger">
                            Browse & Upload <input type="file" style="display: none;" ngf-select="selectFile($file, $invalidFiles)" accept=".csv">
                        </span>
                    </label>
                </div>
            </div>
            <button class="btn btn-info" data-toggle="modal" data-target="#myModal" ng-click="previewQuestions()">Preview</button>
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-3x fa-times-circle"></i></button>
                            <h4 class="modal-title">Your uploaded questions can be found here bro</h4>
                        </div>
                        <div class="modal-body">
                            <p ng-hide="previewQuestionModels.length > 0">No questions uploaded yet</p>
                            <div class="previewQuestion" ng-repeat="previewQuestionModel in previewQuestionModels">
                                <span>{{previewQuestionModel.questionNumber}}.</span>
                                <h5>{{previewQuestionModel.questionText}}</h5>
                                <h6>Time for Question - {{previewQuestionModel.questionTimeInSeconds}} seconds</h6>
                                <div class="previewOptionList">
                                    <ul>
                                        <li ng-repeat="option in previewQuestionModel.options"><i ng-class="option.isSelected ? 'fa fa-check-square': 'fa fa-square-o'"></i>{{option.optionText}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="panel-footer">
            <button class="btn btn-success" ng-click="saveChanges()">Save Changes</button>
        </div>
    </div>

</div>    